.sliderRoot {
    display: flex;
    position: relative;
    flex-direction: column;
    .sliderHeader {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 20px;
        .sliderControls {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .sliderDot {
                border-radius: 50%;
                width: 8px;
                height: 8px;
                background: #414141;
                opacity: 0.3;
                margin: 0 3px;
                &.active {
                    width: 15px;
                    height: 15px;
                    opacity: 1;
                }
            }
        }
    }
    .sliderMain {
        display: flex;
        .sliderContents {
            flex: 1;
        }
    }
}