.modalRoot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.storyEditPaper {
    background: #fff;
    border: 1px solid #707881;
    border-radius: 5px !important;
    position: absolute;
    max-width: 600px;
    max-height: 80vh;
    top: 100px;
    overflow-y: auto;
}

.storyEditPaper,
.storyEditPaperInline {
    .popupHeader {
        border-bottom: 2px solid #ececec;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 15px 0;
        flex-wrap: wrap;
        h4 {
            font-size: 1rem;
            font-weight: 500;
            color: #397db9;
            width: 100;
            margin: 5px 0;
        }
        p {
            color: #397db9;
            font-size: 0.875rem;
            font-weight: 100;
            width: 100%;
            margin: 5px 0;
        }
        .tabsContainer {
            width: 100%;
            min-height: auto;
            margin-top: 15px;
            .tabsFlexContainer {
                align-items: baseline;
                justify-content: space-evenly;
                .tabItemRoot {
                    min-width: auto;
                    min-height: auto;
                    .tabItemLabelContainer {
                        padding: 15px 5px 5px;
                    }
                    .tabItemLabel {
                        text-transform: none;
                        font-size: 1rem;
                    }
                }
            }
            .tabOr {
                font-size: 0.85rem;
                color: #cbcbcb;
                text-transform: uppercase;
                margin: 0 10px;
            }
            .tabIndicator {
                background-color: #397db9;
            }
        }
    }
    .popupBody {
        background: #fafafa;
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
        padding: 0 !important;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        .articlesContainer {
            display: flex;
            flex-direction: column;
            .articleItem {
                padding: 10px 20px;
                border-bottom: 1px solid #ededed;
                border-top: 1px solid #f1f1f1;
                min-height: 100px;
                cursor: pointer;
                .articleMedia {
                    background: #d6d6d6;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: fill;
                    }
                }
                .articleTexts {
                    color: #414141;
                    padding-left: 15px;
                    user-select: none;
                    display: flex;
                    flex-direction: column;
                    h4 {
                        font-size: 1rem;
                        font-weight: 500;
                        margin: 0;
                        padding: 0;
                    }
                    p {
                        font-size: 0.85rem;
                        font-weight: 100;
                        margin: 0;
                        padding: 0;
                    }
                }
                &:hover {
                    background: rgba(0, 0, 0, 0.1);
                }
                &:active {
                    background: rgba(0, 0, 0, 0.2);
                }
            }
            .noArticles {
                color: #bbb;
                font-size: .75rem;
                font-style: italic;
                padding: 15px;
            }
        }
        .newArticleForm,
        .newMemberForm {
            padding: 10px 20px;
            .textField {
                margin: 15px 0;
            }
            .mediaUpload {
                margin-left: -20px;
                margin-right: -20px;
                border-top: 2px solid #ddd;
                border-bottom: 2px solid #ddd;
                background: #eee;
                padding: 20px;
            }
        }
    }
    .editControls {
        padding: 15px;
        display: flex;
        align-items: center;
        .cancelBtn,
        .submitBtn {
            border-radius: 50%;
            box-shadow: 0px 2px 5px 1px rgba(120, 118, 120, 0.3);
        }
        .cancelBtn {
            width: 25px;
            height: 25px;
            min-width: auto;
            min-height: auto;
            background: #fff;
            color: #ff0000;
            margin-left: auto;
        }
        .submitBtn {
            background: #397db9;
            color: #fff;
            margin-left: 15px;
        }
    }
}

.addArticle {
    position: relative;
    display: flex;
    border: 2px dashed #76acd2;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 20px;
    margin-top: 15px;
    .addArticleButton {
        color: #277dba;
        text-transform: none;
        &:hover,
        &:active {
            background: none;
        }
    }
}

.articleRoot,
.newArticleRoot {
    background: #fff;
    margin-top: 65px;
    flex: 1;
    .articleShow {
        .centralColumn {
            .acticleTitle {
                font-size: 2rem;
                font-weight: 100;
                color: #565656;
            }
            .media {
                width: 100%;
                background: #989898;
                margin: 40px 0;
                img {
                    width: 100%;
                }
            }
        }
        .columnRight {
            .columnRightContent {
                top: -50px;
                margin-bottom: -50px;
                border-left: 1px solid;
                border-color: #f0f0f0;
                padding: 25px 20px;
                height: calc(100% + 50px);
                .author {
                    padding: 0 30px 0 2px;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 35px;
                    background: #fff;
                    border: 1px solid #ededed;
                    display: flex;
                    .avatar {
                        background-color: #565656;
                        margin: 3px;
                        width: 60px;
                        height: 60px;
                    }
                    .texts {
                        margin-left: 15px;
                        padding: 15px 0;
                        .userName,
                        .userTitle {
                            margin: 0;
                            padding: 0;
                            color: #565656;
                        }
                        .userName {
                            display: flex;
                            align-items: flex-start;
                            font-size: 1rem;
                            i {
                                cursor: pointer;
                                margin-left: 10px;
                            }
                        }
                    }
                }
                .articleDate {
                    color: #b6b6b6;
                    font-size: 1rem;
                    font-weight: 100;
                    margin-left: 10px;
                }
                .likes,
                .comments {
                    color: #277dba;
                    font-size: 2rem;
                    font-weight: bold;
                    .count {
                        font-weight: 100;
                    }
                }
                .likeBtn {
                    color: #277dba;
                    font-size: 1rem;
                    font-weight: 500;
                    text-transform: capitalize;
                    padding: 0;
                    .icon {
                        background: #277dba;
                        border-radius: 50%;
                        color: #fff;
                        width: 2rem;
                        height: 2rem;
                        font-size: 2rem;
                        font-weight: bold;
                        margin-right: 1rem;
                        box-shadow: 0px 2px 5px 1px rgba(39, 125, 186, 0.3);
                    }
                    &:hover,
                    &:active {
                        background: none;
                    }
                    &:hover {
                        .icon {
                            box-shadow: 0px 2px 5px 1px rgba(39, 125, 186, 0.5);
                        }
                    }
                    &:active {
                        .icon {
                            box-shadow: 0px 3px 5px 1px rgba(39, 125, 186, 0.6);
                        }
                    }
                }
                .commentsSection {
                    .comment {
                        margin-bottom: 30px;
                        .author {
                            border: none;
                            justify-content: flex-start;
                            padding: 0;
                            .commentInfo {
                                margin: 0;
                                padding: 0;
                                color: #565656;
                                font-size: .75rem;
                                .companyName {
                                    color: #277dba;
                                    font-weight: 500;
                                }
                                .commentDate {
                                    color: #ababab;
                                }
                            }
                        }
                        .commentBody {
                            font-size: .75rem;
                            color: #ababab;
                        }
                    }
                }
                .addCommentBtn {
                    border-radius: 35px;
                    background: #fff;
                    border: 1px solid #ededed;
                    display: flex;
                    color: #277dba;
                    margin-left: auto;
                    font-size: 1rem;
                    font-weight: bold;
                    text-transform: capitalize;
                    padding: 15px 20px;
                    .icon {
                        font-size: 1.5rem;
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    .articleEdit {
        min-height: calc(100vh - 50px - 65px);
        .centralColumn {
            .titleSection {
                margin-bottom: 30px;
                .titleInput {
                    font-size: 2rem;
                    font-weight: 500;
                    color: #565656;
                }
            }
            .articleBodySection {
                .infoMsg {
                    font-size: .85rem;
                    font-style: italic;
                    font-weight: 100;
                    color: #ababab;
                    margin: 0 0 40px;
                }
            }
        }
        .columnRight {
            .columnRightContent {
                top: -50px;
                margin-bottom: -50px;
                padding: 25px 20px;
                height: calc(100% + 50px);
                background: #397db9;
                .tags,
                .mediaUpload {
                    .helperText {
                        color: #fff;
                        font-size: 1rem;
                        font-weight: 500;
                    }
                    .textField {
                        color: #fff;
                        .tagInput,
                        .textFieldLabel {
                            color: #fff !important;
                        }
                        .textFieldUnderline {
                            &:before,
                            &:after {
                                border-bottom-color: #fff !important;
                            }
                        }
                        .inputRoot {
                            flex-wrap: wrap;
                            padding: 5px 0;
                            .chip {
                                margin: 2px;
                            }
                            .tagInput {
                                width: auto;
                                padding: 0 3px;
                            }
                        }
                    }
                    .inputHelperText {
                        font-size: .75rem;
                        color: #fff;
                        font-style: italic;
                    }
                }
                .tags {}
                hr {
                    border-color: rgba(255, 255, 255, .5);
                    margin: 30px 0;
                }
                .publishBtn {
                    background: #fff;
                    color: #397db9;
                    text-transform: capitalize;
                    font-size: 1.25rem;
                    margin-top: 30px;
                }
                .mediaToggle {
                    .mediaToggleLabel {
                        font-size: .75rem;
                        color: #fff;
                        font-style: italic;
                    }
                    label {
                        color: rgba(255, 255, 255, 0.75);
                        &.active {
                            color: #fff;
                        }
                    }
                }
                .imgUpload {
                    background: #fff;
                    color: #397db9;
                    text-transform: capitalize;
                }
            }
        }
    }
}

.newArticleRoot {
    .articleEdit {
        min-height: calc(100vh - 65px);
    }
}

.disqusThread {
    margin-top: 50px;
}

.addTagsPaper {
    background-color: #277dba !important;
    padding: 15px;
    width: 400px;
    max-width: 90%;
    .title {
        font-size: 1rem;
        font-weight: 500;
        color: #fff;
    }
    .textFieldInput,
    .textFieldLabel {
        color: #fff !important;
    }
    .textFieldUnderline {
        &:before,
        &:after {
            border-bottom-color: #fff !important;
        }
    }
    .helperText {
        display: block;
        position: relative;
        margin: 10px 0;
        color: #fff;
        font-size: .75rem;
        font-weight: 100;
        font-style: italic;
    }
}