.modalRoot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.storyEditPaper {
    background: #fff;
    border: 1px solid #707881;
    border-radius: 5px !important;
    position: absolute;
    max-width: 600px;
    max-height: 80vh;
    top: 100px;
}

.storyEditPaper,
.storyEditPaperInline {
    .popupHeader {
        border-bottom: 2px solid #ececec;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 15px 0;
        flex-wrap: wrap;
        h4 {
            font-size: 1rem;
            font-weight: 500;
            color: #397db9;
            width: 100;
            margin: 5px 0;
        }
        p {
            color: #397db9;
            font-size: 0.875rem;
            font-weight: 100;
            width: 100%;
            margin: 5px 0;
        }
        .tabsContainer {
            width: 100%;
            min-height: auto;
            margin-top: 15px;
            .tabsFlexContainer {
                align-items: baseline;
                justify-content: space-evenly;
                .tabItemRoot {
                    min-width: auto;
                    min-height: auto;
                    .tabItemLabelContainer {
                        padding: 15px 5px 5px;
                    }
                    .tabItemLabel {
                        text-transform: none;
                        font-size: 1rem;
                    }
                }
            }
            .tabOr {
                font-size: 0.85rem;
                color: #cbcbcb;
                text-transform: uppercase;
                margin: 0 10px;
            }
            .tabIndicator {
                background-color: #397db9;
            }
        }
    }
    .popupBody {
        background: #fafafa;
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
        padding: 0 !important;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        .articlesContainer {
            display: flex;
            flex-direction: column;
            .articleItem {
                padding: 10px 20px;
                border-bottom: 1px solid #ededed;
                border-top: 1px solid #f1f1f1;
                min-height: 100px;
                cursor: pointer;
                .articleMedia {
                    background: #d6d6d6;
                }
                .articleTexts {
                    color: #414141;
                    padding-left: 15px;
                    user-select: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    h4 {
                        font-size: 1rem;
                        font-weight: 500;
                        margin: 0;
                        padding: 0;
                    }
                    p {
                        font-size: 0.85rem;
                        font-weight: 100;
                        margin: 0;
                        padding: 0;
                    }
                }
                &:hover {
                    background: rgba(0, 0, 0, 0.1);
                }
                &:active {
                    background: rgba(0, 0, 0, 0.2);
                }
            }
            .noArticles {
                color: #bbb;
                font-size: .75rem;
                font-style: italic;
                padding: 15px;
            }
        }
        .newArticleForm {
            padding: 10px 20px;
            .textField {
                margin: 15px 0;
            }
            .mediaUpload {
                margin-left: -20px;
                margin-right: -20px;
                border-top: 2px solid #ddd;
                border-bottom: 2px solid #ddd;
                background: #eee;
                padding: 20px;
            }
        }
    }
    .editControls {
        padding: 15px;
        display: flex;
        align-items: center;
        .cancelBtn,
        .submitBtn {
            border-radius: 50%;
            box-shadow: 0px 2px 5px 1px rgba(120, 118, 120, 0.3);
        }
        .cancelBtn {
            width: 25px;
            height: 25px;
            min-width: auto;
            min-height: auto;
            background: #fff;
            color: #ff0000;
            margin-left: auto;
        }
        .submitBtn {
            background: #397db9;
            color: #fff;
            margin-left: 15px;
        }
    }
}

.addArticle {
    position: relative;
    display: flex;
    border: 2px dashed #76acd2;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 20px;
    margin-top: 15px;
    .addArticleButton {
        color: #277dba;
        text-transform: none;
        &:hover,
        &:active {
            background: none;
        }
    }
}