.jobRoot,
.newJobRoot {
    background: #fff;
    flex: 1;
    margin-top: 65px;

    .header {
        display: flex;
        flex-wrap: wrap;
        background: #f4f4f4;
        border-bottom: 1px solid #e8e8e8;
        box-shadow: 0px 2px 5px 1px rgba(120, 118, 120, 0.3);
        padding: 50px 0 30px;

        .jobTitle {
            color: #277dba;
            font-size: 2rem;
            font-weight: 100;
            width: 100%;
        }

        .jobDetails {
            color: #aaaaaa;
            font-size: 1rem;
            font-weight: normal;
            margin-bottom: 30px;
            width: 100%;
            flex-wrap: wrap;
            display: flex;

            .published,
            .expires {
                &:after {
                    content: "|";
                    margin: 0 5px;
                }
            }

            .company {
                margin-right: 5px;
                color: #277dba;
                text-transform: uppercase;
            }
        }

        .centralColumn {
            position: relative;
            margin-left: auto;

            @media (max-width: 600px) {
                margin: auto;
            }
        }

        .columnRight {
            position: relative;
            margin-left: auto;
        }

        .titleInput {
            font-size: 2rem;
            color: #565656;
        }
    }

    .applyButton,
    .appliedButton {
        text-transform: none;
        font-size: 1rem;
        font-weight: 500;
        padding: 10px 45px;
    }

    .applyButton {
        background: #ff9d00;
        color: #fff;
        margin-right: 25px;

        &:hover {
            background: rgba(255, 157, 0, 0.5);
        }
    }

    .appliedButton {
        background: none;
        color: #ff9d00;
        border: 1px solid #ff9d00;

        &:hover {
            color: rgba(255, 157, 0, 0.5);
            border: 1px solid rgba(255, 157, 0, 0.5);
            background: none;
        }
    }

    .mainBody {
        .centralColumn {
            section {
                margin-top: 50px;

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    padding-bottom: 50px;
                }

                .sectionTitle {
                    color: #277dba;
                    font-size: 2rem;
                    font-weight: 100;
                }

                p.helperText {
                    font-size: 1rem;
                    color: #565656;
                    font-weight: 100;
                }
            }

            .media {
                max-width: 600px;
                max-height: 360px;
                width: 100%;
                height: 100%;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .jobDescription {
                .shortDescription {
                    font-weight: bold;
                    margin-bottom: 40px;
                }
            }

            .jobBenefits {
                .benefit {
                    display: inline-flex;
                    color: #ababab;
                    font-size: 1.25rem;
                    font-weight: bold;
                    margin-right: 20px;
                    margin-bottom: 20px;

                    img {
                        margin-right: 10px;
                        width: 20px;
                    }
                    i {
                        margin-right: 10px;
                    }
                }
            }

            section.skills,
            .jobType {
                .chip {
                    margin: 0 5px 5px 0;
                }

                .inputRoot {
                    display: flex;
                    flex-wrap: wrap;
                }
            }

            .officeLife {
                .sliderHeader {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    margin-bottom: 20px;

                    h2 {
                        margin: 0;
                    }

                    .sliderControls {
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;

                        .sliderDot {
                            border-radius: 50%;
                            width: 8px;
                            height: 8px;
                            background: #414141;
                            opacity: 0.3;
                            margin: 0 3px;

                            &.active {
                                width: 15px;
                                height: 15px;
                                opacity: 1;
                            }
                        }
                    }
                }

                .sliderContents {
                    background: #fff;
                    border: 1px solid #ecebec;
                    display: flex;

                    @media (max-width: 960px) {
                        flex-direction: column;
                    }

                    .textContents {
                        padding: 20px 15px;
                        color: #565656;

                        h4 {
                            font-size: 1rem;
                            font-weight: normal;
                        }

                        p {
                            font-size: 0.75rem;
                            font-weight: 100;
                        }
                    }
                }

                .sliderContents {
                    display: none;

                    &.active {
                        display: flex;
                    }

                    .media {
                        width: 600px;
                        height: 360px;

                        @media (max-width: 600px) {
                            width: auto;
                            height: auto;
                        }

                        img {
                            max-width: 100%;
                            max-height: 100%;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }

            .qaSection {
                .qaPanelRoot {
                    background: none;
                    border: none;
                    box-shadow: none;

                    &:before {
                        background: none;
                    }

                    .qaHeaderIcon {
                        color: #397db9;
                        left: 8px;
                        right: auto;
                    }

                    .qaPanelHeaderContent {
                        color: #397db9;
                        font-size: 1.1rem;
                        font-weight: normal;
                        margin-left: 40px;
                        font-weight: normal;
                        align-items: center;

                        .editBtn {
                            border-radius: 50%;
                            background: #397db9;
                            color: #fff;
                            padding: inherit;
                            width: 30px;
                            height: 30px;
                            font-size: 10px;
                            margin-left: 20px;
                            box-shadow: 0px 2px 5px 1px rgba(120, 118, 120, 0.3);
                        }
                    }

                    .qaPanelDetailRoot {
                        display: flex;
                        color: #000;
                        font-size: 1.1rem;
                        font-weight: 100;
                        background: #fff;
                        margin: 0 25px;
                        padding: 10px;
                    }
                }
            }

            .actions {
                .socialLink {
                    border: 1px solid #363636;
                    color: #363636;
                    margin-right: 12px;
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    padding: 0;
                    font-size: 1.5rem;
                    text-align: center;
                    transition: background-color 150ms;
                    cursor: pointer;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    outline: none;
                    position: relative;
                    user-select: none;
                    vertical-align: middle;
                    text-decoration: none;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.08);
                    }

                    &:active {
                        background-color: rgba(0, 0, 0, 0.18);
                    }
                }
            }

            .jobEditForm {
                section {
                    padding-bottom: 40px;
                    border-bottom: 1px solid #ebebeb;

                    &:last-child {
                        margin-bottom: 50px;
                    }

                    &:first-child {
                        border: none;
                    }

                    .jobSelect,
                    .formControl,
                    .rc-slider {
                        width: 380px;

                        @media (max-width: 600px) {
                            width: 100%;
                        }
                    }
                }

                .mediaBtn {
                    background: #397db9;
                    color: #fff;
                    text-transform: none;
                    font-size: 0.75rem;
                    padding: 7px 15px;
                    min-height: auto;
                    position: relative;

                    &:first-of-type {
                        margin-right: 15px;
                    }
                }

                .selectedBenefits {
                    display: flex;
                    flex-wrap: wrap;

                    .chip {
                        margin: 2px;
                    }
                }
            }
        }

        .columnRight {
            .columnRightContent {
                top: -100px;
                margin-bottom: -100px;
                border-top: 1px solid;
                border-left: 1px solid;
                border-color: #f0f0f0;
                padding: 25px 20px;
                height: calc(100% + 100px);

                .columnTitle {
                    color: #397db9;
                    font-weight: 100;
                    font-size: 2rem;
                    margin: 0;
                    padding: 0;
                }

                .contact {
                    padding: 15px 25px;
                    background: #397db9;
                }

                .contactUs {
                    .columnTitle {
                        margin-bottom: 40px;
                    }

                    .contactField {
                        margin: 25px 0;

                        i {
                            margin-right: 15px;
                        }

                        span,
                        a {
                            font-size: 1rem;
                            color: #414141;
                        }
                    }
                }

                @media (max-width: 960px) {
                    top: auto;
                    border: none;
                }
            }

            .fixed {
                position: sticky;
                top: 115px;

                @media(max-width: 600px) {
                    position: relative;
                    top: auto;
                }
            }
        }
    }

    .imagePreview {
        position: relative;
        margin-bottom: 10px;

        .previewImg {
            padding: 5px;
            border: 2px dotted #aaa;
            max-width: 150px;
            max-height: 150px;
            box-sizing: border-box;
        }

        .removeBtn {
            position: absolute;
            top: -12px;
            left: -12px;
            background: #fff;
            color: red;
            width: 25px;
            height: 25px;
        }
    }
}

.newJobRoot,
.jobEdit {
    .columnRight {
        .columnRightContent {
            padding: 0 !important;

            .columnTitle {
                color: #fff !important;
                font-weight: 100;
                font-size: 2rem;
                margin: 0;
                padding: 0;
            }

            .contact {
                padding: 15px 25px;
                background: #397db9;

                .message {
                    font-size: 0.75rem;
                    color: #fff;
                    font-weight: 100;
                }

                .addContactFieldBtn {
                    background: #4893cc;
                    color: #fff;
                }

                .contactDetailsEditForm {
                    padding: 20px 0;
                }

                .formGroup {
                    display: flex;
                    align-items: baseline;
                    justify-content: space-between;
                }

                .textField {
                    margin: 15px 0;
                    width: 90%;
                }

                .contactFormLabel {
                    color: #fff;
                }

                .contactTextInputRoot {
                    border-color: #fff;

                    &:before,
                    &:after {
                        border-color: #fff;
                    }
                }

                .contactTextInput {
                    color: #fff;
                }

                .removeBtn {
                    width: 25px;
                    min-width: auto;
                    height: 25px;
                    min-height: auto;
                    border-radius: 50%;
                    background: #fff;
                    color: #ff0000;
                }
            }

            .saveBtn {
                background: #397db9;
                color: #fff;
                text-transform: capitalize;
                font-size: 1.25rem;
                font-weight: 500;
                margin: 40px 20px 20px;

                &:disabled {
                    cursor: not-allowed;
                    pointer-events: all;
                }
            }
        }

        .fixed {
            position: sticky;
            top: 65px !important;

            @media(max-width: 600px) {
                position: relative;
                top: auto;
            }
        }
    }
}