.listItem {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #ededed;
    border-radius: 10px;
    padding: 25px 15px;

    .leftOverlay,
    .rightOverlay {
        position: absolute;
        background: #fff;
        border: 1px solid #ededed;
        border-radius: 20px;
        display: flex;
    }

    .leftOverlay {
        left: 10px;

        @media(max-width: 600px) {
            position: relative;
            left: auto;
            margin-right: auto;
        }
    }

    .rightOverlay {
        right: 10px;
        top: -17px;
        padding: 7px 10px;

        @media(max-width: 600px) {
            position: relative;
            right: auto;
            top: auto;
            margin-left: auto;
        }
    }

    .itemBody {
        display: flex;
        padding-top: 20px;
    }

    .itemFooter {
        margin: 0 -15px -25px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background: #fafafa;
        max-height: 0;
        transition: max-height 0.15s ease-out;
        overflow: hidden;

        &.open {
            border-top: 1px solid #eeeeee;
            padding: 10px;
            max-height: 400px;
            transition: max-height 0.25s ease-in;
        }
    }
}

.avatarHeader {
    display: flex;
    padding: 0 30px 0 2px;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;

    .avatar {
        width: 60px;
        height: 60px;
        // background: #bdbdbd;
        background: #ffffff;
        margin: 3px;
    }

    .texts {
        margin-left: 15px;
        padding: 15px 0;

        .holderName,
        .holderTitle {
            margin: 0;
            padding: 0;
            color: #565656;
        }

        .holderName {
            display: flex;
            align-items: flex-start;
            font-size: 1rem;

            i {
                cursor: pointer;
                margin-left: 10px;
            }
        }

        .holderTitle {
            font-size: 0.75rem;
            font-weight: 100;
        }
    }
}

.userListRoot,
.companiesListRoot,
.jobsListRoot,
.jobsList,
.articlesList {
    flex: 1;
    background: #fff;
    margin-top: 65px;

    .listItem {
        margin-bottom: 60px;

        .leftOverlay {
            padding: 0 30px 0 2px;
            align-items: center;
            justify-content: space-between;
            top: -33px;
            border-radius: 35px;

            @media(max-width: 600px) {
                top: auto;
                margin: -10px 0 10px;
            }

            .avatar {
                width: 60px;
                height: 60px;
                // background: #bdbdbd;
                background: #ffffff;
            }

            .leftOverlayTexts {
                margin-left: 15px;
                padding: 15px 0;

                .userName,
                .userTitle,
                .companyName,
                .expires {
                    margin: 0;
                    padding: 0;
                    color: #565656;
                }

                .userName,
                .companyName {
                    display: flex;
                    align-items: flex-start;
                    font-size: 1rem;

                    i {
                        cursor: pointer;
                        margin-left: 10px;
                    }
                }

                .userTitle,
                .expires {
                    font-size: 0.75rem;
                    font-weight: 100;
                }

                .expires {
                    color: #a0a0a0;

                    span {
                        color: #414141;
                    }
                }
            }
        }

        .rightOverlay {
            font-size: 0.75rem;
            font-weight: 100;
            color: #565656;

            .highlight {
                color: #277dba;
                font-weight: bold;
            }

            &.editable {
                right: 50px;
            }
        }

        .floatingEditBtn {
            padding: 0;
            position: absolute;
            top: -18px;
            right: 10px;
            width: 35px;
            height: 35px;
            background: #397db9;
            color: #fff;
            box-shadow: 0px 2px 5px 1px rgba(120, 118, 120, 0.3);
        }

        .articleDate {
            position: absolute;
            top: -8px;
            right: 204px;
            color: #ababab;
            background: #fff;
            font-size: .75rem;
            padding: 0 15px;

            &.editable {
                right: 248px;

                @media(max-width: 600px) {
                    right: 52px;
                }
            }

            @media(max-width: 600px) {
                right: 10px;
            }
        }

        .itemBody {
            flex-wrap: wrap;
            flex-direction: column;

            .chipContainer {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                padding: 10px 0;
                margin: -5px;
                align-items: center;

                .chipTitle {
                    font-size: 0.875rem;
                    font-weight: 500;
                    margin: 5px;

                    &.skills {
                        color: #5d93e2;
                    }

                    &.values {
                        color: #c9a53f;
                    }
                }

                .chip {
                    background: #ebebeb;
                    border-radius: 5px;
                    color: #565656;
                    font-size: 0.75rem;
                    margin: 5px;
                }
            }

            .moreBtn {
                padding: 0;
                color: #bababa;
                text-transform: none;

                &,
                &:hover,
                &:active {
                    background: none;
                }

                i {
                    margin-left: 10px;
                }

                &:hover {
                    color: #565656;
                }

                &:active {
                    color: #414141;
                }
            }

            .tabsContainer {
                min-height: auto;
            }

            .tabRoot {
                min-width: auto;
                min-height: auto;

                .label {
                    &:after {
                        font-family: Font Awesome\ 5 Free;
                        font-weight: 900;
                        content: "\f0d7";
                        margin-left: 10px;
                    }
                }
            }

            .tabSelected {
                .label {
                    &:after {
                        content: "";
                    }
                }
            }

            .labelContainer {
                padding: 0 0 15px;
            }

            .tabsIndicator {
                background: #414141;
            }

            .editPost {
                display: flex;
                margin-bottom: 20px;

                .textField {
                    flex: 1;
                }

                .updatePostBtn {
                    background: #4484bd;
                    color: #fff;
                    width: 30px;
                    height: 30px;
                    margin-left: 10px;
                }
            }
        }

        .itemFooter {
            .articles {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                overflow: hidden;

                .article {
                    min-width: 200px;
                    flex-basis: auto;
                    flex-grow: 1;
                    width: 200px;
                    height: 140px;
                    margin-right: 15px;
                    border-radius: 10px;
                    display: flex;
                    align-items: flex-end;
                    background-size: cover;

                    .articleTitle {
                        padding: 10px;
                        color: #fff;
                        font-size: 0.75rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.articlesList {
    .listItem {
        .leftOverlay {
            padding: 0;
        }
    }
}

.jobsList {
    .listItem {
        .leftOverlay {
            padding: 0;

            .avatarHeader {
                .texts {
                    .holderTitle {
                        font-size: 0.75rem;
                        font-weight: 100;
                        color: #a0a0a0;

                        span {
                            color: #414141;
                        }
                    }
                }
            }
        }
    }
}

.companiesListRoot {
    .companyListItem {
        .companyDescription {
            font-size: 1rem;
            font-weight: 100;
            color: #616161;
        }

        .tabRoot {
            min-width: auto;
            min-height: auto;
            margin-right: 30px;

            .label {
                &:after {
                    content: "" !important;
                }
            }
        }
    }

    .jobs {
        display: flex;
        position: relative;
        flex-direction: column;
        .alice-carousel {
            position: static;
            .alice-carousel__next-btn, .alice-carousel__prev-btn {
                top: 0px;
                left: 0px;
                position: absolute;
                width: auto;
                padding: 0;
                p {
                    margin: 5px;
                }
            }
            .alice-carousel__dots {    
                position: absolute;    
                left: 24px;
                top: 5px;
                width: 80px;
                margin: 0;
            }
        }
        
        .top-panel {
            padding: 5px;
            .right-icon {
                margin-left: 70px;
            }
        }

        .jobItem {
            display: flex;
            border-bottom: 1px solid #ebebeb;
            padding: 15px 0;
            align-items: center;
            // width: 400px;
            margin-right: 10px;
            // min-width: 400px;
      
            .media {
                display: flex;
                position: relative;
                flex: 1;

                .mediaFake {
                    width: 250px;
                    height: 140px;
                    // background: #989898;
                    background: #ffffff;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        color: #fff;
                    }
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }

                    @media (max-width: 600px) {
                        width: 180px;
                        height: 100px;
                    }
                }

                span.role {
                    background: #414141;
                    color: #fff;
                    padding: 5px 10px;
                    position: absolute;
                    bottom: -10px;
                    left: 10px;
                }

                
            }

            .info {
                display: flex;
                flex-direction: column;
                flex: 1;
                margin-left: 15px;

                h5 {
                    margin: 3px 0;
                    font-size: 1rem;
                    color: #414141;
                    font-weight: bold;
                }

                span {
                    font-size: 1rem;
                    font-weight: normal;
                    color: #a0a0a0;
                }
            }
        }
    }

    .team {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;

        .member {
            min-width: 300px;
            flex-basis: auto;
            flex-grow: 1;
            width: 300px;
            height: 330px;
            margin-right: 15px;
            border-radius: 10px;
            display: flex;
            align-items: flex-end;
            background-size: cover;
            flex-wrap: wrap;
            padding: 10px;
            flex-direction: column;
            box-sizing: border-box;

            p {
                color: #000;
                width: 100%;
                margin: 0;
            }

            .name {
                font-weight: bold;
                font-size: 1.125rem;
                margin-top: auto;
            }

            .title {
                font-size: 0.875rem;
                font-weight: 100;
            }
        }
    }
}

.jobsListRoot,
.userListRoot {
    .header {
        padding: 40px;
        background: #f4f4f4;
        box-shadow: 0px 2px 5px 1px rgba(120, 118, 120, 0.3);

        .centralColumn {
            position: relative;
            margin-left: auto;
        }

        .columnRight {
            position: relative;
            margin-left: auto;
        }

        .searchTitle {
            color: #277dba;
            font-weight: 100;
            font-size: 2rem;

            @media (max-width: 600px) {
                text-align: center;
            }
        }

        .searchFields {
            display: flex;
            align-items: baseline;

            .textField {
                flex: 1;
                margin-right: 15px;
            }
            .searchField {
                flex: 1;
                margin-right: 15px;
                overflow: hidden;
                label {
                    white-space: nowrap;
                }
            }

            @media (max-width: 600px) {
                flex-wrap: wrap;
                align-items: center;
                flex-direction: column;

                .textField {
                    width: 90%;
                    margin: 0 auto 10px;
                }
            }
        }

        .searchBtn {
            background: #277dba;
            color: #fff;
            text-transform: none;

            @media (max-width: 600px) {
                margin-left: auto;
                margin-right: 5%;
            }
        }
    }

    .columnRight {
        .columnRightContent {
            top: -80px;
            margin-bottom: -80px;
            border-top: 1px solid;
            border-left: 1px solid;
            border-color: #f0f0f0;
            padding: 25px 20px;
            display: flex;
            flex-direction: column;
            height: calc(100% + 80px);

            .columnTitle {
                color: #397db9;
                font-weight: 100;
                font-size: 2rem;
                padding: 0;
            }

            @media (max-width: 960px) {
                top: auto;
                margin-bottom: 75px;
                border: none;
                height: auto;
            }
        }
    }
}

.userListRoot {
    @media (max-width: 600px) {
        margin-top: 10px;
    }
}

.jobsListRoot {
    .header {
        .searchFields {
            align-items: flex-end;
        }
    }
}

.jobsListRoot,
.jobsList {
    position: relative;

    .listItem {
        .rightOverlay {
            align-items: center;
            border: none;
            padding: 8px 12px;
            top: -17px;

            .location {
                color: #565656;
                font-weight: 100;
                margin-right: 15px;

                i {
                    margin-right: 5px;
                }
            }

            .match {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 80px;
                min-height: 80px;

                .matchText,
                .matchValue {
                    font-size: 1rem;
                    font-weight: 900;
                    color: #29a9e1;
                    text-align: center;
                }

                .matchText {
                    color: #ababab;
                    font-weight: normal;
                }

                .matchRoot {
                    color: #29a9e1;
                    position: absolute;
                }
            }
        }

        .appliedDate {
            position: absolute;
            font-size: 0.75rem;
            font-weight: 100;
            color: #93bedc;
            padding: 8px;
            border-radius: 5px;
            background: #fff;
            border: 1px solid #ededed;
            bottom: -16px;
            left: 15px;
        }

        .itemBody {
            flex-wrap: nowrap;
            align-items: center;
            flex-direction: row;
            position: relative;

            .editBtn {
                padding: 0;
                position: absolute;
                top: 5px;
                right: 5px;
                width: 35px;
                height: 35px;
                background: #397db9;
                color: #fff;
                box-shadow: 0px 2px 5px 1px rgba(120, 118, 120, 0.3);
            }

            .media {
                display: flex;
                min-width: 290px;
                min-height: 165px;
                width: 290px;
                height: 165px;
                margin-right: 20px;
                overflow: hidden;
                align-items: center;
                justify-content: center;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .details {
                .jobTitle {
                    color: #414141;
                    font-size: 1.25rem;
                    font-weight: normal;
                    margin: 0 0 15px 0;
                    padding: 0;
                }

                .levels {
                    display: flex;
                    flex-wrap: wrap;

                    .jobLevel {
                        height: 30px;
                        background: #ebebeb;
                        border-radius: 5px;
                        color: #414141;
                        margin: 7px 5px 7px 0;
                        text-transform: capitalize;
                    }
                }

                .benefits {
                    display: flex;
                    flex-wrap: wrap;

                    .benefit {
                        color: #ababab;
                        font-size: 0.75rem;
                        font-weight: bold;
                        margin: 7px 15px 7px 0;

                        img {
                            margin-right: 10px;
                            width: 20px;
                        }
                        i {
                            margin-right: 5px;
                        }
                    }
                }

                .companyDescription {
                    margin: 0;
                    padding: 0;
                    color: #414141;
                    font-weight: 100;
                    font-size: 0.75rem;
                }
            }
        }
    }
}

.jobsListRoot {
    .jobsList {
        @media (max-width: 600px) {
            padding: 0;
        }
    }
}

.jobsList {
    margin-top: 0;
}

.searchFields {
    .searchField {
        overflow: hidden;
        label {
            white-space: nowrap;
        }
    }
}