.newsFeedRoot {
    background: #fff;
    flex: 1;
    margin-top: 65px;
    .brandShow {
        .centralColumn {
            section {
                margin-top: 50px;
                &:first-child {
                    margin-top: 0;
                }
            }
            .newPost {
                .postHeader {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    .userProfile {
                        display: flex;
                        background: #fff;
                        border: 2px solid #ebebeb;
                        border-radius: 50px;
                        padding: 5px 35px 5px 5px;
                        align-items: center;
                        .userAvatar {
                            width: 80px;
                            height: 80px;
                            background: #565656;
                            margin-right: 15px;
                        }
                        .postAs {
                            color: #565656;
                            font-size: 1rem;
                            font-weight: 100;
                            .userName {
                                display: block;
                                font-size: 1.25rem;
                                font-weight: 500;
                            }
                        }
                    }
                    .mediaButton {
                        background: #e6eff4;
                        color: #565656;
                        text-transform: none;
                        border-radius: 20px;
                        height: 35px;
                        padding: 6px 20px;
                        .icon {
                            margin-right: 12px;
                        }
                    }
                }
                .postBody {
                    display: flex;
                    background: #fafafa;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    margin-top: 15px;
                    border: 1px solid #ededed;
                    padding: 15px 20px 50px;
                }
                .postFooter {
                    display: flex;
                    background: #fff;
                    border: 1px solid #ededed;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    padding: 15px 20px;
                    align-items: center;
                    justify-content: space-between;
                    .footerToggle {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                    .postBtn {
                        background: #ff9d00;
                        color: #fff;
                        text-transform: capitalize;
                        font-size: 1rem;
                    }
                }
            }
            .profileActions {
                display: flex;
                justify-content: space-between;
                .profileAction {
                    display: flex;
                    flex-direction: column;
                    width: 32%;
                    border: 1px solid #ebebeb;
                    border-radius: 10px;
                    padding: 20px 15px;
                    box-sizing: border-box;
                    height: 345px;
                    h3 {
                        font-size: 1.25rem;
                        margin: 0;
                        margin-bottom: 10px;
                        color: #55b5cc;
                    }
                    p {
                        font-size: 1rem;
                        font-weight: 100;
                        color: #565656;
                    }
                    .profileActionBtn {
                        margin-top: auto;
                    }
                }
            }
        }
        .columnRight {
            .columnRightContent {
                top: -50px;
                margin-bottom: -50px;
                border-top: 1px solid;
                border-left: 1px solid;
                border-color: #f0f0f0;
                padding: 25px 20px;
                height: calc(100% + 50px);
                section {
                    margin-top: 30px;
                }
                .promo {
                    display: flex;
                    width: 100%;
                    height: 280px;
                    background: #8c8c8c;
                    color: #fff;
                    align-items: center;
                    justify-content: center;
                    span {
                        font-size: 1rem;
                        color: #fff;
                        text-transform: uppercase;
                    }
                }
                .links {
                    display: flex;
                    flex-wrap: wrap;
                    .copyright {
                        min-width: 100%;
                        color: #565656;
                        font-size: 0.75rem;
                        font-weight: 100;
                    }
                    a {
                        color: #565656;
                        font-size: 0.85rem;
                        text-decoration: none;
                        font-weight: 500;
                        &:first-of-type:after,
                        &:last-of-type:before {
                            content: '|';
                            margin: 0 15px;
                        }
                    }
                }
            }
        }
    }
}

.mediaUploadPaper {
    background-color: #277dba !important;
    padding: 25px 15px;
    width: 400px;
    max-width: 90%;
    margin-top: 10px;
    .mediaUploadPopup {
        .mediaToggle {
            .mediaToggleLabel {
                font-size: .75rem;
                color: #fff;
                font-style: italic;
            }
            label {
                color: rgba(255, 255, 255, 0.75);
                &.active {
                    color: #fff;
                }
            }
        }
        .textFieldInput,
        .textFieldLabel {
            color: #fff !important;
        }
        .textFieldUnderline {
            &:before,
            &:after {
                border-bottom-color: #fff !important;
            }
        }
        .imgUpload {
            background: #fff;
            color: #397db9;
            text-transform: capitalize;
        }
    }
}