.newsFeedRoot {
    background: #fff;
    flex: 1;
    margin-top: 65px;
    .brandShow {
        .centralColumn {
            @media(max-width: 600px) {
                order: 1;
            }
            section {
                margin-top: 50px;
                &:first-child {
                    margin-top: 0;
                }
            }
            .newPost {
                .postHeader {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    .userProfile {
                        display: flex;
                        background: #fff;
                        border: 2px solid #ebebeb;
                        border-radius: 50px;
                        padding: 5px 35px 5px 5px;
                        align-items: center;
                        .userAvatar {
                            width: 80px;
                            height: 80px;
                            // background-color: #565656;
                            background: #ffffff;
                            margin-right: 15px;
                        }
                        .postAs {
                            color: #565656;
                            font-size: 1rem;
                            font-weight: 100;
                            .title {
                                display: block;
                            }
                            .userName {
                                font-size: 1.25rem;
                                font-weight: 500;
                            }
                            .menuOpen {
                                margin-left: 10px;
                                cursor: pointer;
                                width: 1.2rem;
                                &:hover {
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
                    .mediaButton {
                        background: #e6eff4;
                        color: #565656;
                        text-transform: none;
                        border-radius: 20px;
                        height: 35px;
                        padding: 6px 20px;
                        .icon {
                            margin-right: 12px;
                        }
                    }
                    @media(max-width: 600px) {
                        flex-wrap: wrap;
                        .userProfile {
                            width: 100%;
                            justify-content: space-between;
                            margin-bottom: 10px;
                        }
                        .mediaButton {
                            margin-left: auto;
                        }
                    }
                }
                .postBody {
                    display: flex;
                    flex-direction: column;
                    background: #fafafa;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    margin-top: 15px;
                    border: 1px solid #ededed;
                    padding: 15px 20px 50px;
                    .imagePreview {
                        position: relative;
                        margin-bottom: 10px;
                        .previewImg {
                            padding: 5px;
                            border: 2px dotted #aaa;
                            max-width: 150px;
                            max-height: 150px;
                            box-sizing: border-box;
                        }
                        .removeBtn {
                            position: absolute;
                            top: -12px;
                            left: -12px;
                            background: #fff;
                            color: red;
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
                .postFooter {
                    display: flex;
                    background: #fff;
                    border: 1px solid #ededed;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    padding: 15px 20px;
                    align-items: center;
                    justify-content: space-between;
                    .footerToggle {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                    .postBtn {
                        background: #ff9d00;
                        color: #fff;
                        text-transform: capitalize;
                        font-size: 1rem;
                    }
                }
            }
            .profileActions {
                display: flex;
                justify-content: space-between;
                @media(max-width: 600px) {
                    flex-wrap: wrap;
                }
                .profileAction {
                    display: flex;
                    flex-direction: column;
                    width: 32%;
                    border: 1px solid #ebebeb;
                    border-radius: 10px;
                    padding: 20px 15px;
                    box-sizing: border-box;
                    height: 345px;
                    &.company {
                        color: #55b5cc;
                    }
                    &.networking {
                        color: #58cca6;
                    }
                    &.jobs {
                        color: #5683cc;
                    }
                    h3 {
                        font-size: 1.25rem;
                        margin: 0;
                        margin-bottom: 10px;
                        color: inherit;
                    }
                    p {
                        font-size: 1rem;
                        font-weight: 100;
                        color: #565656;
                    }
                    .profileActionLink {
                        margin-top: auto;
                        font-size: 1rem;
                        font-weight: 500;
                        text-decoration: none;
                        text-align: center; // color: #fff;
                    }
                    @media(max-width: 600px) {
                        width: auto;
                        min-height: auto;
                        height: auto;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .columnRight {
            @media(max-width: 600px) {
                order: 2;
            }
            .columnRightContent {
                top: -50px;
                margin-bottom: -50px;
                border-top: 1px solid;
                border-left: 1px solid;
                border-color: #f0f0f0;
                padding: 25px 20px;
                height: calc(100% + 50px);
                section {
                    margin-top: 30px;
                    &:first-of-type {
                        margin-top: 0;
                    }
                }
                .promo {
                    display: flex;
                    position: relative;
                    width: 100%;
                    height: 280px;
                    // background: #8c8c8c;
                    background: #ffffff;
                    color: #fff;
                    align-items: center;
                    justify-content: center;
                    .floatingEditBtn {
                        padding: 0;
                        position: absolute;
                        top: -18px;
                        right: 10px;
                        width: 35px;
                        height: 35px;
                        background: #397db9;
                        color: #fff;
                        box-shadow: 0px 2px 5px 1px rgba(120, 118, 120, 0.3);
                    }
                    .promoLink {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        align-items: center;
                        justify-content: center;
                        .promoImg {
                            max-width: 100%;
                            max-height: 100%;
                            object-fit: cover;
                        }
                    }
                    .noPromo {
                        font-size: 1rem;
                        color: #fff;
                        text-transform: uppercase;
                    }
                }
                .links {
                    display: flex;
                    flex-wrap: wrap;
                    .copyright {
                        min-width: 100%;
                        color: #565656;
                        font-size: 0.75rem;
                        font-weight: 100;
                    }
                    a {
                        color: #565656;
                        font-size: 0.85rem;
                        text-decoration: none;
                        font-weight: 500;
                        &:first-of-type:after,
                        &:last-of-type:before {
                            content: '|';
                            margin: 0 15px;
                        }
                    }
                }
                @media(max-width: 600px) {
                    border: none;
                    height: auto;
                }
                .fixed {
                    position: sticky;
                    top: 115px;
                    @media(max-width: 600px) {
                        position: relative;
                        top: auto;
                    }
                }
                .textField {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

.mediaUploadPaper {
    background-color: #277dba !important;
    padding: 25px 15px;
    width: 400px;
    max-width: 90%;
    margin-top: 10px;
    .mediaUploadPopup {
        .mediaToggle {
            .mediaToggleLabel {
                font-size: .75rem;
                color: #fff;
                font-style: italic;
            }
            label {
                color: rgba(255, 255, 255, 0.75);
                &.active {
                    color: #fff;
                }
            }
        }
        .textFieldInput,
        .textFieldLabel {
            color: #fff !important;
        }
        .textFieldUnderline {
            &:before,
            &:after {
                border-bottom-color: #fff !important;
            }
        }
        .imgUpload {
            background: #fff;
            color: #397db9;
            text-transform: capitalize;
        }
    }
}

#postAsMenu {
    .postAsItem {
        height: auto;
        &.company {
            padding-left: 30px;
        }
        &.team {
            padding-left: 40px
        }
        p {
            margin: 0;
        }
        .postAsAvatar {
            width: 50px;
            height: 50px;
            margin-right: 15px;
            background: #bababa;
        }
        .optionBody {
            .postAsLabel {
                font-size: 0.875rem;
                color: #777777;
            }
            .postAsType {
                font-size: 0.75rem;
                color: #969696;
            }
        }
    }
}

.promoEditPaper {
    background: #fff;
    border: 1px solid #707881;
    border-radius: 5px !important;
    width: 465px;
    position: relative;
    overflow: visible !important;
    margin-top: 20px;
    margin-left: 50px;
    .popupBody {
        padding: 15px;
        background: #fafafa;
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
        display: flex;
        border-radius: 5px !important;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        flex-direction: column;
        .media {
            display: flex;
            max-width: 100%;
            max-height: 280px;
            overflow: hidden;
            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
            .deleteBtn {
                position: absolute;
                width: 30px;
                height: 30px;
                background: #fff;
                color: red;
                box-shadow: 0px 2px 5px 1px rgba(120, 118, 120, 0.3);
                top: 5px;
                right: 5px;
                border: 1px solid rgba(0, 0, 0, 0.2);
            }
        }
        .imgUpload {
            position: relative;
            margin: 10px auto 0;
            max-width: 50%;
            background: #397db9;
            color: #fff;
            box-shadow: 0px 2px 5px 1px rgba(120, 118, 120, 0.3);
        }
    }
    .textField {
        margin-top: 15px;
    }
    .popupFooter {
        background: #fff;
        padding: 15px;
        position: relative;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        .footerCheck {
            position: absolute;
            background: #4484bd;
            color: #fff;
            border-radius: 50%;
            bottom: -24px;
            right: 20px;
        }
        .footerCancel {
            position: absolute;
            border: 1px solid #aaa;
            background: #ffffff;
            color: #aaa;
            border-radius: 50%;
            bottom: -24px;
            right: 80px;
        }
    }
}