.teamRoot {
    background: #fbf2f5;
    margin-top: 65px;

    .header {
        background: linear-gradient(to bottom, rgba(95, 155, 205, 0.75), rgba(95, 155, 205, 0.75)), url('https://changingwinds.files.wordpress.com/2017/12/teams.jpg');
        min-height: 80vh;

        .leftHeaderLinks {
            display: flex;
            align-items: center;
            padding-top: 15px;

            .backButton {
                color: #fff;
                border: 1px solid #fff;
                background: rgba(0, 0, 0, 0.4);
                border-radius: 20px;
                text-transform: none;
                padding: 5px 15px;

                i {
                    margin-right: 15px;
                }
            }

            .teamName {
                position: relative;
                margin-left: 10px;
                background: #fff;
                color: #565656;
                font-size: 1.125rem;
                border-radius: 25px;
                padding: 15px 20px;
                font-weight: 500;
            }
        }

        .colorPickerButton {
            background: #4893cc;
            color: #fff;
            padding: 2px 10px 2px 30px;
            margin: 25px 0 0 80px;

            .icon {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                position: absolute;
                left: -25px;
                background: #397db9;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &:hover {
                background: #397db9;

                .icon {
                    background: #397db9;
                }
            }
        }
    }

    .teamShow {
        .centralColumn {
            section {
                margin-top: 50px;

                &:last-child {
                    padding-bottom: 50px;
                }
            }

            .titleHeading {
                font-size: 2rem;
                color: #662828;
                font-weight: 100;
                line-height: 1.3;

                b {
                    display: block;
                    font-weight: bold;
                }
            }

            .teamMembersContainer {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .teamMember {
                    display: flex;
                    align-content: center;
                    background: #fff;
                    border-radius: 50px;
                    border: 2px solid #ebebeb;
                    width: 250px;
                    padding: 5px;
                    justify-content: space-between;
                    margin: 0 30px 30px 0;
                    position: relative;

                    .avatar {
                        width: 80px;
                        height: 80px;
                        // background-color: #565656;
                        background: #ffffff;
                    }

                    .teamMemberName {
                        color: #565656;
                        font-size: 1.125rem;
                        font-weight: 500;
                        margin: auto 10px;
                    }

                    i {
                        color: #277dba;
                        font-size: 2rem;
                        margin: auto 15px;
                        cursor: pointer;
                    }

                    .removeBtn {
                        width: 25px;
                        min-width: auto;
                        height: 25px;
                        min-height: auto;
                        border-radius: 50%;
                        background: #fff;
                        color: #ff0000;
                        position: absolute;
                        top: 0;
                        left: 0;
                        box-shadow: 0px 2px 5px 1px rgba(120, 118, 120, 0.3);
                    }
                }
            }

            .teamLife {

                // margin-bottom: 50px;
                .sliderHeader {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    margin-bottom: 20px;

                    .sliderControls {
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;

                        .sliderDot {
                            border-radius: 50%;
                            width: 8px;
                            height: 8px;
                            background: #414141;
                            opacity: 0.3;
                            margin: 0 3px;

                            &.active {
                                width: 15px;
                                height: 15px;
                                opacity: 1;
                            }
                        }
                    }
                }

                .sliderContents {
                    background: #fff;
                    border: 1px solid #ecebec;
                    display: none;

                    &.active {
                        display: flex;
                    }

                    .textContents {
                        padding: 20px 15px;
                        color: #565656;

                        h4 {
                            font-size: 1rem;
                            font-weight: normal;
                        }

                        p {
                            font-size: 0.75rem;
                            font-weight: 100;
                        }
                    }

                    .media {
                        width: 600px;
                        height: 360px;

                        @media (max-width: 600px) {
                            height: auto;
                            width: auto;
                        }

                        img {
                            max-width: 100%;
                            max-height: 100%;
                            height: 100%;
                            width: 100%;
                        }
                    }

                    @media (max-width: 600px) {
                        flex-direction: column;
                    }
                }
            }

            .teamBackLink {
                position: relative;
                display: block;
                margin: 50px auto 20px;
                color: #397db9;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 500;
                text-align: center;
            }
        }

        .columnRightContent {
            border-top: 1px solid;
            border-left: 1px solid;
            border-color: #f0f0f0;
            padding: 25px 20px;

            @media (max-width: 960px) {
                top: auto;
            }

            .columnTitle {
                color: #397db9;
                font-weight: 100;
                font-size: 2rem;
                margin: 0;
                padding: 0;
            }

            .jobs {
                display: flex;
                flex-direction: column;
                margin-top: 15px;

                .jobItem {
                    display: flex;
                    border-bottom: 1px solid #ebebeb;
                    padding: 15px 0;
                    align-items: center;

                    .media {
                        display: flex;
                        position: relative;
                        flex: 1;
                        border-radius: 10px;
                        overflow: hidden;
                        width: 250px;
                        height: 140px;
                        min-width: 249px;
                        min-height: 140px;

                        .mediaFake {
                            // background: #989898;
                            background: #ffffff;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            i {
                                color: #fff;
                            }
                        }

                        span.role {
                            background: #414141;
                            color: #fff;
                            padding: 5px 10px;
                            position: absolute;
                            bottom: -10px;
                            left: 10px;
                        }

                        img {
                            max-width: 100%;
                            max-height: 100%;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .info {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        margin-left: 15px;

                        h5 {
                            font-size: 1rem;
                            color: #414141;
                            font-weight: bold;
                        }

                        span {
                            font-size: 1rem;
                            font-weight: normal;
                            color: #a0a0a0;
                        }

                        a {
                            text-decoration: none;
                        }
                    }
                }
            }

            @media (max-width: 960px) {
                background: none;
                margin-bottom: 5px;

                .columnTitle {
                    color: #662828;
                }
            }
        }

        .addItemBtn {
            position: relative;
            display: flex;
            border: 2px dashed #76acd2;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            margin: 30px 0;
            padding: 20px;
            cursor: pointer;
            color: #277dba;
            text-transform: none;
            text-decoration: none;
        }
    }
}

.membersContainer {
    display: flex;
    flex-direction: column;

    .memberItem {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        cursor: pointer;
        user-select: none;

        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }

        &:active {
            background: rgba(0, 0, 0, 0.2);
        }

        .avatar {
            width: 80px;
            height: 80px;
            // background: #bdbdbd;
            background: #ffffff;
            color: #fff;
            margin-right: 20px;
        }

        .memberInfo {
            margin-left: 15px;
            padding: 15px 0;

            .userName,
            .userTitle {
                margin: 0;
                padding: 0;
                color: #565656;
            }

            .userName {
                display: flex;
                align-items: flex-start;
                font-size: 1rem;
            }

            .userTitle {
                font-size: 0.75rem;
                font-weight: 100;
            }
        }
    }
}

.detailsPaper {
    min-width: 300px !important;
    min-height: 100px !important;
    background: #414141 !important;
    border-radius: 5px !important;
    padding: 20px !important;
    box-sizing: border-box;

    .title {
        font-weight: 100;
        color: #fff;
        font-size: 1.5rem;
        margin: 0 0 25px 0;
        padding: 0;
    }

    .detailsLink {
        background: #fff;
        color: #277dba;
        font-weight: 500;
        font-size: 1.35rem;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;

        &:first-of-type {
            margin-right: 10px;
        }
    }

    .description {
        font-weight: 100;
        color: #fff;
        font-size: 1rem;
        margin: 0 0 25px 0;
    }
}