.colorSwitchBase {
    color: #277dba !important;
}

.colorChecked {
    color: #277dba !important;
}

.colorBar {
    background-color: #bbb !important;
}

.mediaToggle,
.footerToggle,
.profileToggle {
    display: flex;
    align-items: center;
    .mediaToggleLabel {
        font-size: 0.75rem;
        font-weight: 100;
        color: #727272;
        margin-right: 15px;
    }
    label {
        font-size: 0.75rem;
        color: #565656;
        font-weight: bold;
        transition: color .5s;
        &.active {
            font-size: 0.8rem;
            color: #3586bf;
            transition: color .5s;
        }
    }
}

.editToggle {
    display: flex;
    justify-content: center;
    background: #f9f9f9;
    align-items: center;
    label {
        font-size: 0.75rem;
        font-weight: bold;
        color: #565656;
        &.active {
            color: #277dba;
        }
    }
}

.langaugeToggle {
    line-height: 1.2em;
    .separator {
        margin: 0 5px;
        color: #cccccc;
    }
    label {
        cursor: pointer;
        color: 1.2em;
        line-height: 1.2em;
        &.active {
            font-weight: bold;
            color: #397db9;
        }
    }
}