.mainNav {
  display: flex;
  background: #fff;
  padding: 5px 40px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px 1px rgba(120, 118, 120, 0.3);
  position: fixed;
  z-index: 1301; }
  @media (max-width: 960px) {
    .mainNav {
      padding: 5px 20px; } }
  @media (max-width: 600px) {
    .mainNav {
      padding: 5px 15px; } }
  .mainNav .brandImg {
    width: 40px;
    height: 40px;
    border-radius: 50%; }
  .mainNav .mainNavContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .mainNav .mainNavContainer .navButton {
      border-radius: 20px;
      margin: 0 10px;
      color: #414141;
      text-transform: none; }
      .mainNav .mainNavContainer .navButton.active {
        color: #397DB9;
        background: #F4F4F4; }
      .mainNav .mainNavContainer .navButton .homeIcon {
        margin-right: 10px; }
  .mainNav .profileButton {
    border-radius: 50px;
    border: 2px solid #F4F4F4;
    padding: 5px 15px 5px 5px;
    text-transform: none; }
    .mainNav .profileButton .avatar {
      margin-right: 10px; }
  .mainNav .notificationsButton {
    margin-right: 10px; }
  .mainNav .mobileNavContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end; }

.profileMenuContainer .profileMenu {
  margin: 3px;
  background: #f4f4f4;
  margin-top: 20px;
  width: 250px;
  border: 1px solid #cacaca;
  border-radius: 8px; }
  .profileMenuContainer .profileMenu:after {
    content: "";
    display: block;
    position: absolute;
    top: 14px;
    right: 100px;
    width: 10px;
    height: 10px;
    background: #f4f4f4;
    border-right: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
    transform: rotate(-45deg); }
  .profileMenuContainer .profileMenu .companiesContainer {
    background: #fff;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb; }
    .profileMenuContainer .profileMenu .companiesContainer .companiesContainerTitle {
      position: relative;
      display: block;
      font-size: 0.75rem;
      color: #8b8b8b;
      padding: 12px 16px 0; }

.notificationsMenu {
  margin: 3px;
  background: #f4f4f4;
  margin-top: 20px;
  width: 450px;
  border: 1px solid #cacaca;
  border-radius: 8px; }
  .notificationsMenu:after {
    content: "";
    display: block;
    position: absolute;
    top: 14px;
    right: 47px;
    width: 10px;
    height: 10px;
    background: #f4f4f4;
    border-right: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
    transform: rotate(-45deg); }
  @media (max-width: 960px) {
    .notificationsMenu {
      width: 420px; }
      .notificationsMenu:after {
        right: 70px; } }
  .notificationsMenu .notificationItem {
    height: auto; }
    .notificationsMenu .notificationItem:not(:last-child) {
      border-bottom: 2px solid #e8e8e8; }
  .notificationsMenu .notificationAvatar {
    width: 50px;
    height: 50px;
    margin-right: 15px; }
  .notificationsMenu .notificationMessage {
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    color: #777777; }
  .notificationsMenu .notificationElapsed {
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    color: #969696; }

.mobileNavContainer .sideDrawer,
.mobileProfileContainer .sideDrawer,
.mobileNotificationsContainer .sideDrawer {
  width: 70%; }

.mobileNavContainer .content,
.mobileProfileContainer .content,
.mobileNotificationsContainer .content {
  margin-top: 70px; }

.mobileNavContainer .mobileNavItem,
.mobileProfileContainer .mobileNavItem {
  color: #414141;
  text-transform: none;
  background: #eee;
  margin: 2px 0; }
  .mobileNavContainer .mobileNavItem i,
  .mobileProfileContainer .mobileNavItem i {
    margin-right: 10px;
    display: none; }
  .mobileNavContainer .mobileNavItem.active,
  .mobileProfileContainer .mobileNavItem.active {
    padding-left: 10px;
    border-left: 5px solid #397DB9;
    background: #fff;
    color: #397DB9; }

.mobileNotificationsContainer .mobileNotificationButton {
  border-bottom: 2px solid #e8e8e8; }
  .mobileNotificationsContainer .mobileNotificationButton .notificationAvatar {
    width: 50px;
    height: 50px;
    margin-right: 15px; }
  .mobileNotificationsContainer .mobileNotificationButton .notificationBody .notificationMessage {
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    color: #777777; }
  .mobileNotificationsContainer .mobileNotificationButton .notificationBody .notificationElapsed {
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    color: #969696; }

.mobileProfileContainer .companiesContainer {
  background: #fff;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb; }
  .mobileProfileContainer .companiesContainer .companiesContainerTitle {
    position: relative;
    display: block;
    font-size: 0.75rem;
    color: #8b8b8b;
    padding: 12px 16px 0; }
  .mobileProfileContainer .companiesContainer .mobileNavItem {
    background: #fff;
    color: #397DB9; }

.popperClose {
  pointer-events: none;
  display: none; }

.dashboardRoot {
  padding-top: 62px; }
  .dashboardRoot .mainBody {
    padding: 50px 0 0; }

.authContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(95, 155, 205, 0.75), rgba(95, 155, 205, 0.75)), url(http://www.businesselement.net/wp-content/uploads/2017/11/Office-Budget.jpg); }
  .authContainer .brand {
    margin: 20px 0 0 20px;
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center; }
    .authContainer .brand .roundedImage {
      max-width: 60px;
      max-height: 60px;
      border-radius: 50%;
      margin-right: 10px; }
  .authContainer .authContents {
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-evenly;
    align-items: center; }
    .authContainer .authContents .authMessages {
      color: #fff; }
  .authContainer .authForm {
    padding: 40px;
    margin: 0 10px; }
    .authContainer .authForm .textField {
      width: 100%;
      margin-bottom: 30px;
      font-size: 1.25rem; }
    .authContainer .authForm .loginButton {
      width: 100%;
      height: 60px;
      background: #f7a944;
      color: #fff;
      font-size: 1.25rem; }
      .authContainer .authForm .loginButton:hover {
        background: #c07a0d; }
      .authContainer .authForm .loginButton:disabled {
        cursor: not-allowed;
        pointer-events: all; }
    .authContainer .authForm .divSeparator {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      margin: 10px 0; }
    .authContainer .authForm .separatorHR {
      width: 100%;
      border: 0.5px solid #aaa; }
    .authContainer .authForm .orText {
      position: absolute;
      bottom: 0;
      width: 50px;
      text-align: center;
      background: #fff;
      top: -15%; }
    .authContainer .authForm .registerButton {
      width: 100%;
      height: 60px;
      color: #fff;
      font-size: 1.25rem; }
    .authContainer .authForm .forgotPass {
      margin-top: -20px;
      margin-bottom: 20px;
      text-align: right; }
    .authContainer .authForm .forgotLink {
      font-size: 0.8125rem;
      text-decoration: none; }
    .authContainer .authForm .errorMessage {
      color: red;
      text-align: center;
      font-size: 0.85rem; }

.mainBody {
  position: relative;
  display: flex; }
  .mainBody .columnRight {
    position: relative;
    margin-left: auto; }
    @media (max-width: 960px) {
      .mainBody .columnRight {
        margin-right: auto;
        order: 1; } }
    .mainBody .columnRight .columnRightContent {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      top: -215px;
      background: #fff; }
      @media (max-width: 960px) {
        .mainBody .columnRight .columnRightContent {
          position: relative;
          top: auto;
          bottom: auto;
          left: auto;
          right: auto; } }
  .mainBody .centralColumn {
    position: relative;
    margin-left: auto; }
    @media (max-width: 960px) {
      .mainBody .centralColumn {
        margin-right: auto;
        order: 2; } }

.userProfileRoot .header {
  background: linear-gradient(to right, #49525e 0%, #1f3947 100%);
  padding: 15px 50px 20px; }
  @media (max-width: 600px) {
    .userProfileRoot .header {
      padding: 15px; } }

.userProfileRoot .circleEditBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #397db9;
  color: #fff;
  position: absolute;
  min-width: auto;
  min-height: auto; }

.userProfileRoot .headerLinks {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 600px) {
    .userProfileRoot .headerLinks {
      flex-direction: column; } }

.userProfileRoot .userAvatar {
  display: flex;
  padding-top: 15px;
  align-items: center;
  position: relative; }
  .userProfileRoot .userAvatar .avatar {
    width: 130px;
    height: 130px;
    margin-right: 20px; }
  .userProfileRoot .userAvatar .avatarTexts {
    color: #fff; }
    .userProfileRoot .userAvatar .avatarTexts h3 {
      font-size: 1.85rem;
      margin: 0;
      padding: 0;
      font-weight: normal; }
    .userProfileRoot .userAvatar .avatarTexts h4 {
      font-size: 1.25rem;
      font-weight: 300;
      margin: 0;
      padding: 0; }
  .userProfileRoot .userAvatar .badgeRoot {
    position: absolute;
    bottom: 0;
    left: 90px;
    background: #397db9;
    color: #fff;
    min-width: auto;
    width: 50px;
    height: 50px; }
  .userProfileRoot .userAvatar .colorPickerButton {
    background: #4893cc;
    color: #fff;
    padding: 2px 10px 2px 30px;
    margin: 12px 0 0 30px; }
    .userProfileRoot .userAvatar .colorPickerButton .icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      left: -25px;
      background: #397db9;
      display: flex;
      align-items: center;
      justify-content: center; }
    .userProfileRoot .userAvatar .colorPickerButton:hover {
      background: #397db9; }
      .userProfileRoot .userAvatar .colorPickerButton:hover .icon {
        background: #397db9; }
  @media (max-width: 600px) {
    .userProfileRoot .userAvatar {
      justify-content: center; } }

.userProfileRoot .userLinks {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; }
  @media (max-width: 600px) {
    .userProfileRoot .userLinks {
      justify-content: center;
      margin-top: 15px; } }
  .userProfileRoot .userLinks .headerLink {
    color: #fff;
    background: none;
    font-size: 0.9rem;
    text-transform: none;
    border-radius: 0; }
    .userProfileRoot .userLinks .headerLink > span:first-of-type {
      padding-bottom: 8px; }
    .userProfileRoot .userLinks .headerLink:hover {
      background: none; }
      .userProfileRoot .userLinks .headerLink:hover > span:first-of-type {
        padding-bottom: 6px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.75); }
    .userProfileRoot .userLinks .headerLink.active > span:first-of-type {
      padding-bottom: 6px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.75); }
  .userProfileRoot .userLinks .headerButton {
    background: #397db9;
    color: #fff;
    font-size: 0.9rem;
    text-transform: none; }
    .userProfileRoot .userLinks .headerButton:hover {
      background: #3071ab; }

.userProfileRoot .headerStories {
  display: flex;
  margin-top: 50px; }
  .userProfileRoot .headerStories .storyContainer {
    position: relative;
    cursor: pointer; }
    .userProfileRoot .headerStories .storyContainer .storyImg {
      width: 200px;
      height: 140px; }
    .userProfileRoot .headerStories .storyContainer .storyTitle {
      position: absolute;
      bottom: 8px;
      left: 4px;
      right: 4px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 5px;
      text-align: center; }
    .userProfileRoot .headerStories .storyContainer.add {
      width: 208px;
      height: 148px;
      background-color: rgba(0, 0, 0, 0.5);
      border: 2px dashed #fff;
      display: flex;
      align-items: center;
      justify-content: center; }
      .userProfileRoot .headerStories .storyContainer.add .bigPlus {
        color: #fff;
        font-size: 3rem; }
      .userProfileRoot .headerStories .storyContainer.add .storyTitle {
        background: none; }
    .userProfileRoot .headerStories .storyContainer .removeStoryBtn {
      min-width: auto;
      min-height: auto;
      width: 25px;
      height: 25px;
      position: absolute;
      top: -10px;
      right: 10px;
      color: red;
      background: white;
      padding: 2px; }
  .userProfileRoot .headerStories .storySliderContainer {
    display: flex;
    justify-content: center; }
    .userProfileRoot .headerStories .storySliderContainer .storiesSlider {
      display: flex; }
      .userProfileRoot .headerStories .storySliderContainer .storiesSlider .storyItem {
        position: relative;
        display: none; }
        .userProfileRoot .headerStories .storySliderContainer .storiesSlider .storyItem.active {
          display: block; }
        .userProfileRoot .headerStories .storySliderContainer .storiesSlider .storyItem img {
          width: auto;
          height: auto;
          max-width: 100%; }
        .userProfileRoot .headerStories .storySliderContainer .storiesSlider .storyItem .storyTitle {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 4px;
          color: #fff;
          background-color: rgba(0, 0, 0, 0.5);
          padding: 5px;
          text-align: center; }
  .userProfileRoot .headerStories .storySliderControls {
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center; }
    .userProfileRoot .headerStories .storySliderControls .sliderArrow {
      color: #fff; }
    .userProfileRoot .headerStories .storySliderControls .sliderDot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #fff;
      opacity: 0.3;
      margin: 0 2px;
      cursor: pointer; }
      .userProfileRoot .headerStories .storySliderControls .sliderDot.active {
        opacity: 1;
        width: 10px;
        height: 10px; }
  @media (max-width: 600px) {
    .userProfileRoot .headerStories {
      flex-direction: column; } }

.userProfileRoot .headerSkills {
  display: flex;
  margin-top: 50px; }
  .userProfileRoot .headerSkills .skillsContainer:first-of-type {
    margin-bottom: 15px; }
  .userProfileRoot .headerSkills .skillsContainer .headerSkillsTitle {
    display: inline-flex;
    width: 100px;
    font-size: 0.9rem;
    margin-right: 30px; }
    .userProfileRoot .headerSkills .skillsContainer .headerSkillsTitle:before {
      content: "|";
      margin-right: 10px;
      font-weight: bold; }
    .userProfileRoot .headerSkills .skillsContainer .headerSkillsTitle.softSkills {
      color: #73a9ff; }
    .userProfileRoot .headerSkills .skillsContainer .headerSkillsTitle.values {
      color: #c4a848; }
    @media (max-width: 600px) {
      .userProfileRoot .headerSkills .skillsContainer .headerSkillsTitle {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        font-size: 1.15rem; } }
  .userProfileRoot .headerSkills .skillsContainer .chip {
    background: none;
    border-radius: 5px;
    border: 1px solid;
    margin: 5px;
    color: #fff;
    text-transform: capitalize; }
    .userProfileRoot .headerSkills .skillsContainer .chip.skills {
      border-color: #73a9ff; }
    .userProfileRoot .headerSkills .skillsContainer .chip.values {
      border-color: #c4a848; }
  .userProfileRoot .headerSkills .skillsContainer.edit {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    align-items: center;
    padding: 5px;
    color: #fff;
    text-transform: capitalize;
    font-size: 0.8125rem;
    font-weight: normal;
    position: relative; }
    .userProfileRoot .headerSkills .skillsContainer.edit .headerSkillsTitle {
      width: auto;
      margin-right: 10px; }
      .userProfileRoot .headerSkills .skillsContainer.edit .headerSkillsTitle:before {
        content: ""; }
    .userProfileRoot .headerSkills .skillsContainer.edit .circleEditBtn {
      right: -20px; }

.userProfileRoot .editToggle {
  display: flex;
  justify-content: center;
  background: #f9f9f9;
  align-items: center; }
  .userProfileRoot .editToggle label {
    font-size: 0.85rem;
    font-weight: normal;
    color: #565656; }
    .userProfileRoot .editToggle label.active {
      color: #277dba; }
  .userProfileRoot .editToggle .colorSwitchBase {
    color: #277dba; }
  .userProfileRoot .editToggle .colorChecked {
    color: #277dba; }
  .userProfileRoot .editToggle .colorBar {
    background-color: #bbb; }

.userProfileRoot .mainBody.userProfileShow {
  background: #fff;
  border-top: 1px solid #989c9f; }
  .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent {
    border-color: #989c9f;
    border-width: 1px 0 0 1px;
    border-style: solid; }
    @media (max-width: 960px) {
      .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent {
        border: none; } }
    .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .columnTitle {
      padding: 15px 25px;
      background: #397db9; }
      .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .columnTitle h2 {
        margin: 0;
        color: #fff;
        font-weight: 100;
        display: flex;
        align-items: center;
        font-size: 1.875rem;
        padding: 0; }
        .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .columnTitle h2 i {
          margin-left: 10px; }
        .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .columnTitle h2 .contactEditBtn {
          margin-left: auto;
          background: #fff;
          color: #397db9;
          border-radius: 50%; }
      .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .columnTitle .editContactDetails p {
        font-size: 0.75rem;
        color: #fff;
        font-weight: 100; }
      .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .columnTitle .editContactDetails .addContactFieldBtn {
        background: #4893cc;
        color: #fff; }
      .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .columnTitle .editContactDetails .contactDetailsEditForm {
        padding: 20px 0; }
        .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .columnTitle .editContactDetails .contactDetailsEditForm .contactFormLabel {
          color: #fff; }
        .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .columnTitle .editContactDetails .contactDetailsEditForm .contactTextInput {
          color: #fff; }
        .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .columnTitle .editContactDetails .contactDetailsEditForm .contactTextInputRoot {
          border-color: #fff; }
          .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .columnTitle .editContactDetails .contactDetailsEditForm .contactTextInputRoot:before, .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .columnTitle .editContactDetails .contactDetailsEditForm .contactTextInputRoot:after {
            border-color: #fff; }
        .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .columnTitle .editContactDetails .contactDetailsEditForm .contactUnderline {
          color: red;
          border-color: pink; }
        .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .columnTitle .editContactDetails .contactDetailsEditForm .removeBtn {
          width: 25px;
          min-width: auto;
          height: 25px;
          min-height: auto;
          border-radius: 50%;
          background: #fff;
          color: #ff0000; }
        .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .columnTitle .editContactDetails .contactDetailsEditForm .textField {
          margin: 15px 0; }
    .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .knowHowContainer,
    .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .myStoryContainer {
      display: flex;
      padding: 25px;
      justify-content: space-between;
      flex-direction: column; }
      .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .knowHowContainer h4,
      .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .myStoryContainer h4 {
        font-size: 1.875rem;
        margin: 0;
        padding: 0;
        font-weight: 100;
        color: #397db9; }
    .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .knowHowContainer .controls {
      display: flex;
      justify-content: space-between; }
    .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .sliderControls {
      align-items: center;
      display: flex; }
      .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .sliderControls .sliderArrow > span > span {
        font-size: 1rem; }
      .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .sliderControls .sliderDot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #000;
        opacity: 0.3;
        margin: 0 3px; }
        .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .sliderControls .sliderDot.active {
          height: 10px;
          width: 10px;
          opacity: 1; }
    .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .sliderContainer {
      display: flex;
      flex-direction: column; }
      .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .sliderContainer p {
        color: #585858; }
    .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .media {
      height: 200px;
      border-radius: 10px; }
    .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent hr {
      width: calc(100% - 50px); }
    .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .myStoryContainer p {
      color: #397db9;
      font-style: italic; }
  .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection {
    display: flex;
    flex-direction: column; }
    .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .sectionTitle {
      margin: 20px 0 40px;
      font-weight: 100;
      color: #397db9; }
    .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .experienceItem,
    .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .projectItem {
      position: relative;
      display: flex;
      flex-direction: column;
      border: 1px solid #ededed;
      border-radius: 10px;
      padding: 25px 15px;
      margin-bottom: 30px; }
      .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .experienceItem .company,
      .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .projectItem .company {
        position: absolute;
        left: 15px;
        top: -19px;
        background: #fff;
        padding: 7px 10px;
        border: 1px solid #ededed;
        border-radius: 20px; }
        .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .experienceItem .company .highlight,
        .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .projectItem .company .highlight {
          color: #397db9; }
        @media (max-width: 600px) {
          .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .experienceItem .company,
          .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .projectItem .company {
            font-size: 0.75rem; } }
      .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .experienceItem .durationLocation,
      .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .projectItem .durationLocation {
        position: absolute;
        top: -19px;
        background: #fff;
        padding: 7px 10px;
        border: 1px solid #ededed;
        border-radius: 20px;
        right: 15px; }
        @media (max-width: 600px) {
          .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .experienceItem .durationLocation,
          .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .projectItem .durationLocation {
            font-size: 0.75rem; } }
        .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .experienceItem .durationLocation.editable,
        .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .projectItem .durationLocation.editable {
          right: 80px; }
        .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .experienceItem .durationLocation .period:after,
        .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .projectItem .durationLocation .period:after {
          content: "";
          background: #777;
          position: relative;
          display: inline-flex;
          font-size: 10px;
          margin: 0 7px;
          width: 3px;
          height: 13px; }
      .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .experienceItem .experienceGrid,
      .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .projectItem .experienceGrid {
        justify-content: space-between; }
        .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .experienceItem .experienceGrid h4,
        .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .projectItem .experienceGrid h4 {
          font-size: 1rem;
          color: #565656; }
        .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .experienceItem .experienceGrid p,
        .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .projectItem .experienceGrid p {
          color: #565656;
          font-size: 0.85rem; }
    .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .experienceItemEditBtn {
      position: absolute;
      background: #397db9;
      border-radius: 50%;
      color: #fff;
      width: 40px;
      min-width: auto;
      height: 40px;
      min-height: auto;
      top: -20px;
      right: 20px;
      box-shadow: 0px 2px 5px 1px rgba(120, 118, 120, 0.3); }
  .userProfileRoot .mainBody.userProfileShow .experienceAdd {
    position: relative;
    display: flex;
    border: 2px dashed #76acd2;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 20px; }
    .userProfileRoot .mainBody.userProfileShow .experienceAdd .addXPButton {
      color: #277dba;
      text-transform: none; }
      .userProfileRoot .mainBody.userProfileShow .experienceAdd .addXPButton:hover {
        background: none; }
  .userProfileRoot .mainBody.userProfileShow .experienceForm {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    margin-bottom: 75px;
    box-shadow: 0px 2px 5px 1px rgba(120, 118, 120, 0.3); }
    .userProfileRoot .mainBody.userProfileShow .experienceForm h4 {
      padding: 10px 25px 0; }
    .userProfileRoot .mainBody.userProfileShow .experienceForm section {
      padding: 25px; }
      .userProfileRoot .mainBody.userProfileShow .experienceForm section.infoSection .mediaToggle {
        display: flex;
        align-items: center; }
        .userProfileRoot .mainBody.userProfileShow .experienceForm section.infoSection .mediaToggle .mediaToggleLabel {
          font-size: 0.75rem;
          font-weight: 100;
          color: #727272;
          margin-right: 15px; }
        .userProfileRoot .mainBody.userProfileShow .experienceForm section.infoSection .mediaToggle label {
          font-size: 0.75rem;
          color: #565656;
          font-weight: bold; }
          .userProfileRoot .mainBody.userProfileShow .experienceForm section.infoSection .mediaToggle label.active {
            font-size: 0.8rem;
            color: #3586bf; }
      .userProfileRoot .mainBody.userProfileShow .experienceForm section.mediaUpload {
        border-top: 2px solid #f1f1f1;
        border-bottom: 2px solid #f1f1f1;
        background: #fafafa; }
        .userProfileRoot .mainBody.userProfileShow .experienceForm section.mediaUpload .hiddenFileInput {
          display: none; }
      .userProfileRoot .mainBody.userProfileShow .experienceForm section.editControls {
        position: relative; }
        .userProfileRoot .mainBody.userProfileShow .experienceForm section.editControls .cancelBtn,
        .userProfileRoot .mainBody.userProfileShow .experienceForm section.editControls .submitBtn {
          position: absolute;
          border-radius: 50%;
          box-shadow: 0px 2px 5px 1px rgba(120, 118, 120, 0.3); }
        .userProfileRoot .mainBody.userProfileShow .experienceForm section.editControls .cancelBtn {
          width: 25px;
          height: 25px;
          min-width: auto;
          min-height: auto;
          background: #fff;
          color: #ff0000;
          bottom: -12px;
          right: 100px; }
        .userProfileRoot .mainBody.userProfileShow .experienceForm section.editControls .submitBtn {
          background: #397db9;
          color: #fff;
          right: 30px;
          bottom: -24px; }
    .userProfileRoot .mainBody.userProfileShow .experienceForm .textField {
      margin: 15px 0; }
    .userProfileRoot .mainBody.userProfileShow .experienceForm h4 {
      color: #565656; }
    .userProfileRoot .mainBody.userProfileShow .experienceForm .datePickers {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 15px 0;
      flex-wrap: wrap; }
      .userProfileRoot .mainBody.userProfileShow .experienceForm .datePickers p {
        width: 100%;
        color: rgba(0, 0, 0, 0.54); }

.userProfileRoot .media {
  background: #989898;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer; }
  .userProfileRoot .media .playIcon {
    color: #fff;
    font-size: 3rem; }

.colorPickerPaper {
  background: #fff;
  border: 1px solid #707881;
  border-radius: 5px !important;
  width: 465px;
  position: relative;
  overflow: visible !important;
  margin-top: 20px; }
  .colorPickerPaper:after {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 45px;
    width: 10px;
    height: 10px;
    background: #fff;
    transform: rotate(-45deg); }
  .colorPickerPaper .popupHeader {
    border-bottom: 2px solid #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0 10px; }
    .colorPickerPaper .popupHeader .picUploadButton {
      background: #397db9;
      padding: 5px;
      margin: 0;
      color: white;
      text-transform: none;
      height: 24px;
      border-radius: 5px; }
  .colorPickerPaper .colorsContainer {
    padding: 30px; }
    .colorPickerPaper .colorsContainer .color {
      width: 80px;
      height: 80px;
      border-radius: 5px;
      margin: 5px; }

.skillsEditPaper {
  background: #fff;
  border: 1px solid #707881;
  border-radius: 5px !important;
  width: 465px;
  position: relative;
  overflow: visible !important;
  margin-top: 20px;
  margin-left: 50px; }
  .skillsEditPaper:after {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    right: 45px;
    width: 10px;
    height: 10px;
    background: #fff;
    transform: rotate(-45deg); }
  .skillsEditPaper .popupHeader {
    border-bottom: 2px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px; }
    .skillsEditPaper .popupHeader .helperText {
      color: #a6a6a6;
      font-size: 0.7rem; }
    .skillsEditPaper .popupHeader .addSkillButton {
      background: #397db9;
      color: white;
      text-transform: none;
      min-width: 50px;
      min-height: 25px;
      padding: 0; }
  .skillsEditPaper .popupBody {
    padding: 15px;
    background: #fafafa;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5; }
    .skillsEditPaper .popupBody .chip {
      text-transform: capitalize;
      background: #fff;
      border: 1px solid #4484bd;
      color: #4484bd;
      border-radius: 5px;
      margin: 2px; }
      .skillsEditPaper .popupBody .chip .deleteIcon {
        background: none;
        color: #4484bd; }
  .skillsEditPaper .popupFooter {
    background: #fff;
    padding: 15px;
    position: relative; }
    .skillsEditPaper .popupFooter .footerCheck {
      position: absolute;
      background: #4484bd;
      color: #fff;
      border-radius: 50%;
      bottom: -24px;
      right: 20px; }

.brandRoot {
  background: #fbf2f5; }
  .brandRoot .header {
    position: relative;
    height: 90vh;
    min-height: 90vh; }
    @media (max-width: 960px) {
      .brandRoot .header {
        height: auto; } }
    .brandRoot .header .headerOverlay {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: #550019;
      opacity: .5;
      pointer-events: none; }
    .brandRoot .header .headerContents {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      pointer-events: none;
      padding: 25px 0 1px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      @media (max-width: 960px) {
        .brandRoot .header .headerContents {
          position: relative;
          top: auto;
          bottom: auto;
          left: auto;
          right: auto;
          background: #550019;
          pointer-events: all; } }
  .brandRoot .headerLinks {
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    pointer-events: all; }
    @media (max-width: 600px) {
      .brandRoot .headerLinks {
        flex-direction: column; } }
  .brandRoot .userAvatar {
    display: flex;
    padding: 30px 5px;
    align-items: center;
    background: #fff;
    border-radius: 50px; }
    @media (max-width: 960px) {
      .brandRoot .userAvatar {
        padding: 5px; } }
    .brandRoot .userAvatar .avatar {
      width: 80px;
      height: 80px;
      margin-right: 20px; }
    .brandRoot .userAvatar .avatarTexts {
      color: #414141;
      margin-left: auto;
      margin-right: auto; }
      .brandRoot .userAvatar .avatarTexts h3 {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        font-weight: normal; }
        @media (max-width: 600px) {
          .brandRoot .userAvatar .avatarTexts h3 {
            font-size: 1.25rem; } }
      .brandRoot .userAvatar .avatarTexts h4 {
        font-size: 1rem;
        font-weight: 300;
        margin: 0;
        padding: 0; }
        @media (max-width: 600px) {
          .brandRoot .userAvatar .avatarTexts h4 {
            font-size: 0.85rem; } }
  .brandRoot .userLinks {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; }
    @media (max-width: 960px) {
      .brandRoot .userLinks {
        justify-content: center;
        margin: 25px 0; } }
    .brandRoot .userLinks .headerLink {
      color: #fff;
      background: none;
      font-size: 0.9rem;
      text-transform: none;
      border-radius: 0; }
      .brandRoot .userLinks .headerLink > span:first-of-type {
        padding-bottom: 8px; }
      .brandRoot .userLinks .headerLink:hover {
        background: none; }
        .brandRoot .userLinks .headerLink:hover > span:first-of-type {
          padding-bottom: 6px;
          border-bottom: 2px solid rgba(255, 255, 255, 0.75); }
      .brandRoot .userLinks .headerLink.active > span:first-of-type {
        padding-bottom: 6px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.75); }
    .brandRoot .userLinks .headerButton {
      background: #397db9;
      color: #fff;
      font-size: 0.9rem;
      text-transform: none; }
      .brandRoot .userLinks .headerButton:hover {
        background: #3071ab; }
  .brandRoot .textInfo {
    padding-left: 50px;
    color: #fff; }
    @media (max-width: 960px) {
      .brandRoot .textInfo {
        padding: 0 25px;
        justify-content: center; } }
    .brandRoot .textInfo h1 {
      font-size: 2.5rem;
      font-weight: 100; }
      .brandRoot .textInfo h1 b {
        display: block;
        font-size: 3.5rem;
        font-weight: bold;
        padding-top: 20px; }
    .brandRoot .textInfo h3 {
      font-weight: 100;
      font-size: 1.5rem; }
  .brandRoot .headerStories {
    display: flex;
    margin-top: 50px;
    padding-left: 50px; }
    @media (max-width: 960px) {
      .brandRoot .headerStories {
        padding: 0 25px;
        justify-content: center; } }
    .brandRoot .headerStories .storyContainer {
      position: relative;
      margin: 0 3px;
      cursor: pointer; }
      .brandRoot .headerStories .storyContainer .storyImg {
        width: 200px;
        height: 140px; }
      .brandRoot .headerStories .storyContainer .storyTitle {
        position: absolute;
        bottom: 4px;
        left: 0;
        right: 0;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        text-overflow: ellipsis;
        padding: 5px;
        text-align: center; }
  .brandRoot .activityFields {
    margin-top: 50px;
    padding-left: 50px;
    display: flex; }
    @media (max-width: 960px) {
      .brandRoot .activityFields {
        padding: 0 25px;
        justify-content: center; } }
    .brandRoot .activityFields .chip {
      background: none;
      border-radius: 5px;
      border: 1px solid;
      margin: 5px;
      color: #fff;
      text-transform: capitalize; }
      .brandRoot .activityFields .chip.activity {
        border-color: #fff; }
  .brandRoot .teamSlider {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    max-height: 200px;
    margin-top: 50px; }
    .brandRoot .teamSlider .teamSliderItem {
      height: 200px;
      width: 320px;
      position: relative; }
      @media (max-width: 960px) {
        .brandRoot .teamSlider .teamSliderItem {
          height: 150px;
          width: 240px; } }
      @media (max-width: 600px) {
        .brandRoot .teamSlider .teamSliderItem {
          height: 100px;
          width: 160px; } }
      .brandRoot .teamSlider .teamSliderItem.title {
        background: #fff;
        color: #550019;
        display: flex;
        align-content: center;
        justify-content: center; }
        .brandRoot .teamSlider .teamSliderItem.title h4 {
          font-weight: 100;
          font-size: 1.5rem;
          line-height: normal;
          margin: auto; }
          .brandRoot .teamSlider .teamSliderItem.title h4 b {
            display: block;
            font-weight: bold; }
    .brandRoot .teamSlider .teamImg {
      max-height: 200px;
      width: 100%; }
    .brandRoot .teamSlider .teamText {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px;
      color: #fff;
      font-size: 1.5rem; }
      @media (max-width: 600px) {
        .brandRoot .teamSlider .teamText {
          padding: 5px;
          font-size: 1.25rem; } }
  .brandRoot .mainBody {
    border-top: 1px solid #f0f0f0; }
    .brandRoot .mainBody .columnRight .columnRightContent {
      top: -320px;
      border-top: 1px solid;
      border-left: 1px solid;
      border-color: #f0f0f0;
      padding: 25px 20px; }
      @media (max-width: 960px) {
        .brandRoot .mainBody .columnRight .columnRightContent {
          top: auto; } }
      .brandRoot .mainBody .columnRight .columnRightContent .columnTitle {
        color: #397db9;
        font-weight: 100;
        font-size: 2rem;
        margin: 0;
        padding: 0; }
    .brandRoot .mainBody .centralColumn section {
      margin-top: 50px; }
      .brandRoot .mainBody .centralColumn section:last-child {
        padding-bottom: 50px; }
    .brandRoot .mainBody .centralColumn .titleHeading {
      font-size: 2rem;
      color: #662828;
      font-weight: 100;
      line-height: 1.3; }
      .brandRoot .mainBody .centralColumn .titleHeading b {
        display: block;
        font-weight: bold; }
    .brandRoot .mainBody .centralColumn .aboutSection p {
      color: #565656;
      font-size: 1.15rem;
      font-weight: 100; }
    .brandRoot .mainBody .centralColumn .officeLife .sliderHeader {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 20px; }
      .brandRoot .mainBody .centralColumn .officeLife .sliderHeader h2 {
        margin: 0; }
      .brandRoot .mainBody .centralColumn .officeLife .sliderHeader .sliderControls {
        display: flex;
        align-items: center;
        justify-content: space-evenly; }
        .brandRoot .mainBody .centralColumn .officeLife .sliderHeader .sliderControls .sliderDot {
          border-radius: 50%;
          width: 8px;
          height: 8px;
          background: #414141;
          opacity: 0.3;
          margin: 0 3px; }
          .brandRoot .mainBody .centralColumn .officeLife .sliderHeader .sliderControls .sliderDot.active {
            width: 15px;
            height: 15px;
            opacity: 1; }
    .brandRoot .mainBody .centralColumn .sliderContents,
    .brandRoot .mainBody .centralColumn .story {
      background: #fff;
      border: 1px solid #ecebec;
      display: flex; }
      @media (max-width: 960px) {
        .brandRoot .mainBody .centralColumn .sliderContents,
        .brandRoot .mainBody .centralColumn .story {
          flex-direction: column; } }
      .brandRoot .mainBody .centralColumn .sliderContents .textContents,
      .brandRoot .mainBody .centralColumn .story .textContents {
        padding: 20px 15px;
        color: #565656; }
        .brandRoot .mainBody .centralColumn .sliderContents .textContents h4,
        .brandRoot .mainBody .centralColumn .story .textContents h4 {
          font-size: 1rem;
          font-weight: normal; }
        .brandRoot .mainBody .centralColumn .sliderContents .textContents p,
        .brandRoot .mainBody .centralColumn .story .textContents p {
          font-size: 0.75rem;
          font-weight: 100; }
    .brandRoot .mainBody .centralColumn .story {
      margin-bottom: 25px; }
      .brandRoot .mainBody .centralColumn .story:last-child {
        margin: 0; }
      .brandRoot .mainBody .centralColumn .story.reverse {
        flex-direction: row-reverse; }
        @media (max-width: 960px) {
          .brandRoot .mainBody .centralColumn .story.reverse {
            flex-direction: column; } }
  .brandRoot .qaPanelRoot {
    background: none;
    border: none;
    box-shadow: none; }
    .brandRoot .qaPanelRoot:before {
      background: none; }
    .brandRoot .qaPanelRoot .qaHeaderIcon {
      color: #397db9;
      left: 8px;
      right: auto; }
    .brandRoot .qaPanelRoot .qaPanelHeaderContent {
      color: #397db9;
      font-size: 1.1rem;
      font-weight: normal;
      margin-left: 40px;
      font-weight: normal; }
    .brandRoot .qaPanelRoot .qaPanelDetailRoot {
      display: flex;
      color: #000;
      font-size: 1.1rem;
      font-weight: 100;
      background: #fff;
      margin: 0 25px;
      padding: 10px; }
