.mainNav {
  display: flex;
  background: #fff;
  padding: 5px 40px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px 1px rgba(120, 118, 120, 0.3);
  position: fixed;
  z-index: 1301; }
  @media (max-width: 960px) {
    .mainNav {
      padding: 5px 20px; } }
  @media (max-width: 600px) {
    .mainNav {
      padding: 5px 15px; } }
  .mainNav .brandImg {
    width: 40px;
    height: 40px;
    border-radius: 50%; }
  .mainNav .mainNavContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .mainNav .mainNavContainer .navButton {
      border-radius: 20px;
      margin: 0 10px;
      color: #414141;
      text-transform: none; }
      .mainNav .mainNavContainer .navButton.active {
        color: #397DB9;
        background: #F4F4F4; }
      .mainNav .mainNavContainer .navButton .homeIcon {
        margin-right: 10px; }
  .mainNav .profileButton {
    border-radius: 50px;
    border: 2px solid #F4F4F4;
    padding: 5px 15px 5px 5px;
    text-transform: none; }
    .mainNav .profileButton .avatar {
      margin-right: 10px; }
  .mainNav .notificationsButton {
    margin-right: 10px; }
  .mainNav .mobileNavContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end; }

.profileMenuContainer .profileMenu {
  margin: 3px;
  background: #f4f4f4;
  margin-top: 20px;
  width: 250px;
  border: 1px solid #cacaca;
  border-radius: 8px; }
  .profileMenuContainer .profileMenu:after {
    content: "";
    display: block;
    position: absolute;
    top: 14px;
    right: 100px;
    width: 10px;
    height: 10px;
    background: #f4f4f4;
    border-right: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
    transform: rotate(-45deg); }
  .profileMenuContainer .profileMenu .companiesContainer {
    background: #fff;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb; }
    .profileMenuContainer .profileMenu .companiesContainer .companiesContainerTitle {
      position: relative;
      display: block;
      font-size: 0.75rem;
      color: #8b8b8b;
      padding: 12px 16px 0; }

.notificationsMenu {
  margin: 3px;
  background: #f4f4f4;
  margin-top: 20px;
  width: 450px;
  border: 1px solid #cacaca;
  border-radius: 8px; }
  .notificationsMenu:after {
    content: "";
    display: block;
    position: absolute;
    top: 14px;
    right: 47px;
    width: 10px;
    height: 10px;
    background: #f4f4f4;
    border-right: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
    transform: rotate(-45deg); }
  @media (max-width: 960px) {
    .notificationsMenu {
      width: 420px; }
      .notificationsMenu:after {
        right: 70px; } }
  .notificationsMenu .notificationItem {
    height: auto; }
    .notificationsMenu .notificationItem:not(:last-child) {
      border-bottom: 2px solid #e8e8e8; }
  .notificationsMenu .notificationAvatar {
    width: 50px;
    height: 50px;
    margin-right: 15px; }
  .notificationsMenu .notificationMessage {
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    color: #777777; }
  .notificationsMenu .notificationElapsed {
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    color: #969696; }

.mobileNavContainer .sideDrawer,
.mobileProfileContainer .sideDrawer,
.mobileNotificationsContainer .sideDrawer {
  width: 70%; }

.mobileNavContainer .content,
.mobileProfileContainer .content,
.mobileNotificationsContainer .content {
  margin-top: 70px; }

.mobileNavContainer .mobileNavItem,
.mobileProfileContainer .mobileNavItem {
  color: #414141;
  text-transform: none;
  background: #eee;
  margin: 2px 0; }
  .mobileNavContainer .mobileNavItem i,
  .mobileProfileContainer .mobileNavItem i {
    margin-right: 10px;
    display: none; }
  .mobileNavContainer .mobileNavItem.active,
  .mobileProfileContainer .mobileNavItem.active {
    padding-left: 10px;
    border-left: 5px solid #397DB9;
    background: #fff;
    color: #397DB9; }

.mobileNotificationsContainer .mobileNotificationButton {
  border-bottom: 2px solid #e8e8e8; }
  .mobileNotificationsContainer .mobileNotificationButton .notificationAvatar {
    width: 50px;
    height: 50px;
    margin-right: 15px; }
  .mobileNotificationsContainer .mobileNotificationButton .notificationBody .notificationMessage {
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    color: #777777; }
  .mobileNotificationsContainer .mobileNotificationButton .notificationBody .notificationElapsed {
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    color: #969696; }

.mobileProfileContainer .companiesContainer {
  background: #fff;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb; }
  .mobileProfileContainer .companiesContainer .companiesContainerTitle {
    position: relative;
    display: block;
    font-size: 0.75rem;
    color: #8b8b8b;
    padding: 12px 16px 0; }
  .mobileProfileContainer .companiesContainer .mobileNavItem {
    background: #fff;
    color: #397DB9; }

.popperClose {
  pointer-events: none;
  display: none; }

.dashboardRoot {
  padding-top: 62px; }

.authContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(95, 155, 205, 0.75), rgba(95, 155, 205, 0.75)), url(http://www.businesselement.net/wp-content/uploads/2017/11/Office-Budget.jpg); }
  .authContainer .brand {
    margin: 20px 0 0 20px;
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center; }
    .authContainer .brand .roundedImage {
      max-width: 60px;
      max-height: 60px;
      border-radius: 50%;
      margin-right: 10px; }
  .authContainer .authContents {
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-evenly;
    align-items: center; }
    .authContainer .authContents .authMessages {
      color: #fff; }
  .authContainer .authForm {
    padding: 40px;
    margin: 0 10px; }
    .authContainer .authForm .textField {
      width: 100%;
      margin-bottom: 30px;
      font-size: 1.25rem; }
    .authContainer .authForm .loginButton {
      width: 100%;
      height: 60px;
      background: #f7a944;
      color: #fff;
      font-size: 1.25rem; }
      .authContainer .authForm .loginButton:hover {
        background: #c07a0d; }
      .authContainer .authForm .loginButton:disabled {
        cursor: not-allowed;
        pointer-events: all; }
    .authContainer .authForm .divSeparator {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      margin: 10px 0; }
    .authContainer .authForm .separatorHR {
      width: 100%;
      border: 0.5px solid #aaa; }
    .authContainer .authForm .orText {
      position: absolute;
      bottom: 0;
      width: 50px;
      text-align: center;
      background: #fff;
      top: -15%; }
    .authContainer .authForm .registerButton {
      width: 100%;
      height: 60px;
      color: #fff;
      font-size: 1.25rem; }
    .authContainer .authForm .forgotPass {
      margin-top: -20px;
      margin-bottom: 20px;
      text-align: right; }
    .authContainer .authForm .forgotLink {
      font-size: 0.8125rem;
      text-decoration: none; }
    .authContainer .authForm .errorMessage {
      color: red;
      text-align: center;
      font-size: 0.85rem; }

.mainBody {
  position: relative;
  display: flex; }
  .mainBody .columnRight {
    position: relative;
    margin-left: auto; }
    @media (max-width: 960px) {
      .mainBody .columnRight {
        margin-right: auto;
        order: 1; } }
    .mainBody .columnRight .columnRightContent {
      position: absolute;
      right: 0;
      bottom: -15px;
      left: 0;
      top: -215px;
      background: #fff; }
      @media (max-width: 960px) {
        .mainBody .columnRight .columnRightContent {
          position: relative;
          top: auto;
          bottom: auto;
          left: auto;
          right: auto; } }
  .mainBody .centralColumn {
    position: relative;
    margin-left: auto; }
    @media (max-width: 960px) {
      .mainBody .centralColumn {
        margin-right: auto;
        order: 2; } }

.userProfileRoot .header {
  background: linear-gradient(to right, #49525e 0%, #1f3947 100%);
  padding: 15px 50px 20px; }
  @media (max-width: 600px) {
    .userProfileRoot .header {
      padding: 15px; } }

.userProfileRoot .headerLinks {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 600px) {
    .userProfileRoot .headerLinks {
      flex-direction: column; } }

.userProfileRoot .userAvatar {
  display: flex;
  padding-top: 15px;
  align-items: center; }
  .userProfileRoot .userAvatar .avatar {
    width: 130px;
    height: 130px;
    margin-right: 20px; }
  .userProfileRoot .userAvatar .avatarTexts {
    color: #fff; }
    .userProfileRoot .userAvatar .avatarTexts h3 {
      font-size: 1.85rem;
      margin: 0;
      padding: 0;
      font-weight: normal; }
    .userProfileRoot .userAvatar .avatarTexts h4 {
      font-size: 1.25rem;
      font-weight: 300;
      margin: 0;
      padding: 0; }
  @media (max-width: 600px) {
    .userProfileRoot .userAvatar {
      justify-content: center; } }

.userProfileRoot .userLinks {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; }
  @media (max-width: 600px) {
    .userProfileRoot .userLinks {
      justify-content: center;
      margin-top: 15px; } }
  .userProfileRoot .userLinks .headerLink {
    color: #fff;
    background: none;
    font-size: 0.9rem;
    text-transform: none;
    border-radius: 0; }
    .userProfileRoot .userLinks .headerLink > span:first-of-type {
      padding-bottom: 8px; }
    .userProfileRoot .userLinks .headerLink:hover {
      background: none; }
      .userProfileRoot .userLinks .headerLink:hover > span:first-of-type {
        padding-bottom: 6px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.75); }
    .userProfileRoot .userLinks .headerLink.active > span:first-of-type {
      padding-bottom: 6px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.75); }
  .userProfileRoot .userLinks .headerButton {
    background: #397db9;
    color: #fff;
    font-size: 0.9rem;
    text-transform: none; }
    .userProfileRoot .userLinks .headerButton:hover {
      background: #3071ab; }

.userProfileRoot .headerStories {
  display: flex;
  margin-top: 50px; }
  .userProfileRoot .headerStories .storyContainer {
    position: relative;
    cursor: pointer; }
    .userProfileRoot .headerStories .storyContainer .storyImg {
      width: 200px;
      height: 140px; }
    .userProfileRoot .headerStories .storyContainer .storyTitle {
      position: absolute;
      bottom: 8px;
      left: 4px;
      right: 4px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 5px;
      text-align: center; }
  .userProfileRoot .headerStories .storySliderContainer {
    display: flex;
    justify-content: center; }
    .userProfileRoot .headerStories .storySliderContainer .storiesSlider {
      display: flex; }
      .userProfileRoot .headerStories .storySliderContainer .storiesSlider .storyItem {
        position: relative;
        display: none; }
        .userProfileRoot .headerStories .storySliderContainer .storiesSlider .storyItem.active {
          display: block; }
        .userProfileRoot .headerStories .storySliderContainer .storiesSlider .storyItem img {
          width: auto;
          height: auto;
          max-width: 100%; }
        .userProfileRoot .headerStories .storySliderContainer .storiesSlider .storyItem .storyTitle {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 4px;
          color: #fff;
          background-color: rgba(0, 0, 0, 0.5);
          padding: 5px;
          text-align: center; }
  .userProfileRoot .headerStories .storySliderControls {
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center; }
    .userProfileRoot .headerStories .storySliderControls .sliderArrow {
      color: #fff; }
    .userProfileRoot .headerStories .storySliderControls .sliderDot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #fff;
      opacity: 0.3;
      margin: 0 2px;
      cursor: pointer; }
      .userProfileRoot .headerStories .storySliderControls .sliderDot.active {
        opacity: 1;
        width: 10px;
        height: 10px; }
  @media (max-width: 600px) {
    .userProfileRoot .headerStories {
      flex-direction: column; } }

.userProfileRoot .headerSkills {
  display: flex;
  margin-top: 50px; }
  .userProfileRoot .headerSkills .skillsContainer:first-of-type {
    margin-bottom: 15px; }
  .userProfileRoot .headerSkills .skillsContainer .headerSkillsTitle {
    display: inline-flex;
    width: 100px;
    font-size: 0.9rem;
    margin-right: 30px; }
    .userProfileRoot .headerSkills .skillsContainer .headerSkillsTitle:before {
      content: "|";
      margin-right: 10px;
      font-weight: bold; }
    .userProfileRoot .headerSkills .skillsContainer .headerSkillsTitle.softSkills {
      color: #73a9ff; }
    .userProfileRoot .headerSkills .skillsContainer .headerSkillsTitle.values {
      color: #c4a848; }
    @media (max-width: 600px) {
      .userProfileRoot .headerSkills .skillsContainer .headerSkillsTitle {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        font-size: 1.15rem; } }
  .userProfileRoot .headerSkills .skillsContainer .chip {
    background: none;
    border-radius: 5px;
    border: 1px solid;
    margin: 5px;
    color: #fff;
    text-transform: capitalize; }
    .userProfileRoot .headerSkills .skillsContainer .chip.skills {
      border-color: #73a9ff; }
    .userProfileRoot .headerSkills .skillsContainer .chip.values {
      border-color: #c4a848; }

.userProfileRoot .mainBody.userProfileShow {
  background: #fff;
  padding: 50px 0 0;
  border-top: 1px solid #989c9f; }
  .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent {
    border-color: #989c9f;
    border-width: 1px 0 0 1px;
    border-style: solid; }
    @media (max-width: 960px) {
      .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent {
        border: none; } }
    .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .columnTitle {
      margin: 0;
      padding: 15px 25px;
      color: #fff;
      background: #397db9;
      font-weight: 100;
      display: flex;
      align-items: flex-end;
      font-size: 1.875rem; }
      .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .columnTitle i {
        margin-left: 10px; }
    .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .knowHowContainer,
    .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .myStoryContainer {
      display: flex;
      padding: 25px;
      justify-content: space-between;
      flex-direction: column; }
      .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .knowHowContainer h4,
      .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .myStoryContainer h4 {
        font-size: 1.875rem;
        margin: 0;
        padding: 0;
        font-weight: 100;
        color: #397db9; }
    .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .knowHowContainer .controls {
      display: flex;
      justify-content: space-between; }
    .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .sliderControls {
      align-items: center;
      display: flex; }
      .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .sliderControls .sliderArrow > span > span {
        font-size: 1rem; }
      .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .sliderControls .sliderDot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #000;
        opacity: 0.3;
        margin: 0 3px; }
        .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .sliderControls .sliderDot.active {
          height: 10px;
          width: 10px;
          opacity: 1; }
    .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .sliderContainer {
      display: flex;
      flex-direction: column; }
      .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .sliderContainer p {
        color: #585858; }
    .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .media {
      height: 200px;
      border-radius: 10px; }
    .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent hr {
      width: calc(100% - 50px); }
    .userProfileRoot .mainBody.userProfileShow .columnRight .columnRightContent .myStoryContainer p {
      color: #397db9;
      font-style: italic; }
  .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection {
    display: flex;
    flex-direction: column; }
    .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .sectionTitle {
      margin: 20px 0 40px;
      font-weight: 100;
      color: #397db9; }
    .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .experienceItem,
    .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .projectItem {
      position: relative;
      display: flex;
      flex-direction: column;
      border: 1px solid #ededed;
      border-radius: 10px;
      padding: 25px 15px;
      margin-bottom: 30px; }
      .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .experienceItem .company,
      .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .projectItem .company {
        position: absolute;
        left: 15px;
        top: -19px;
        background: #fff;
        padding: 7px 10px;
        border: 1px solid #ededed;
        border-radius: 20px; }
        .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .experienceItem .company .highlight,
        .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .projectItem .company .highlight {
          color: #397db9; }
        @media (max-width: 600px) {
          .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .experienceItem .company,
          .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .projectItem .company {
            font-size: 0.75rem; } }
      .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .experienceItem .durationLocation,
      .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .projectItem .durationLocation {
        position: absolute;
        top: -19px;
        background: #fff;
        padding: 7px 10px;
        border: 1px solid #ededed;
        border-radius: 20px;
        right: 15px; }
        @media (max-width: 600px) {
          .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .experienceItem .durationLocation,
          .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .projectItem .durationLocation {
            font-size: 0.75rem; } }
        .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .experienceItem .durationLocation .period:after,
        .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .projectItem .durationLocation .period:after {
          content: "";
          background: #777;
          position: relative;
          display: inline-flex;
          font-size: 10px;
          margin: 0 7px;
          width: 3px;
          height: 13px; }
      .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .experienceItem .experienceGrid,
      .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .projectItem .experienceGrid {
        justify-content: space-between; }
        .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .experienceItem .experienceGrid h4,
        .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .projectItem .experienceGrid h4 {
          font-size: 1rem;
          color: #565656; }
        .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .experienceItem .experienceGrid p,
        .userProfileRoot .mainBody.userProfileShow .centralColumn .experienceSection .projectItem .experienceGrid p {
          color: #565656;
          font-size: 0.85rem; }

.userProfileRoot .media {
  background: #989898;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer; }
  .userProfileRoot .media .playIcon {
    color: #fff;
    font-size: 3rem; }

.brandRoot .header {
  position: relative;
  height: 90vh;
  min-height: 90vh; }
  .brandRoot .header .headerOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #550019;
    opacity: .5;
    pointer-events: none; }
  .brandRoot .header .headerContents {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;
    padding: 25px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.brandRoot .headerLinks {
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  pointer-events: all; }
  @media (max-width: 600px) {
    .brandRoot .headerLinks {
      flex-direction: column; } }

.brandRoot .userAvatar {
  display: flex;
  padding: 5px;
  align-items: center;
  background: #fff;
  border-radius: 50px; }
  .brandRoot .userAvatar .avatar {
    width: 80px;
    height: 80px;
    margin-right: 20px; }
  .brandRoot .userAvatar .avatarTexts {
    color: #414141;
    margin-left: auto;
    margin-right: auto; }
    .brandRoot .userAvatar .avatarTexts h3 {
      font-size: 1.5rem;
      margin: 0;
      padding: 0;
      font-weight: normal; }
    .brandRoot .userAvatar .avatarTexts h4 {
      font-size: 1rem;
      font-weight: 300;
      margin: 0;
      padding: 0; }

.brandRoot .userLinks {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; }
  @media (max-width: 600px) {
    .brandRoot .userLinks {
      justify-content: center;
      margin-top: 15px; } }
  .brandRoot .userLinks .headerLink {
    color: #fff;
    background: none;
    font-size: 0.9rem;
    text-transform: none;
    border-radius: 0; }
    .brandRoot .userLinks .headerLink > span:first-of-type {
      padding-bottom: 8px; }
    .brandRoot .userLinks .headerLink:hover {
      background: none; }
      .brandRoot .userLinks .headerLink:hover > span:first-of-type {
        padding-bottom: 6px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.75); }
    .brandRoot .userLinks .headerLink.active > span:first-of-type {
      padding-bottom: 6px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.75); }
  .brandRoot .userLinks .headerButton {
    background: #397db9;
    color: #fff;
    font-size: 0.9rem;
    text-transform: none; }
    .brandRoot .userLinks .headerButton:hover {
      background: #3071ab; }

.brandRoot .textInfo {
  padding-left: 50px;
  color: #fff; }
  .brandRoot .textInfo h1 {
    font-size: 2.5rem;
    font-weight: 100; }
    .brandRoot .textInfo h1 b {
      display: block;
      font-size: 3.5rem;
      font-weight: bold;
      padding-top: 20px; }
  .brandRoot .textInfo h3 {
    font-weight: 100;
    font-size: 1.5rem; }

.brandRoot .headerStories {
  display: flex;
  margin-top: 50px;
  padding-left: 50px; }
  .brandRoot .headerStories .storyContainer {
    position: relative;
    margin: 0 3px;
    cursor: pointer; }
    .brandRoot .headerStories .storyContainer .storyImg {
      width: 200px;
      height: 140px; }
    .brandRoot .headerStories .storyContainer .storyTitle {
      position: absolute;
      bottom: 4px;
      left: 0;
      right: 0;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      text-overflow: ellipsis;
      padding: 5px;
      text-align: center; }

.brandRoot .activityFields {
  margin-top: 50px;
  padding-left: 50px;
  display: flex; }
  .brandRoot .activityFields .chip {
    background: none;
    border-radius: 5px;
    border: 1px solid;
    margin: 5px;
    color: #fff;
    text-transform: capitalize; }
    .brandRoot .activityFields .chip.activity {
      border-color: #fff; }

.brandRoot .teamSlider {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  max-height: 200px;
  margin-top: 50px; }
  .brandRoot .teamSlider .teamSliderItem {
    height: 200px;
    width: 320px;
    position: relative; }
    .brandRoot .teamSlider .teamSliderItem.title {
      background: #fff;
      color: #550019;
      display: flex;
      align-content: center;
      justify-content: center; }
      .brandRoot .teamSlider .teamSliderItem.title h4 {
        font-weight: 100;
        font-size: 2.5rem;
        line-height: 1.3; }
        .brandRoot .teamSlider .teamSliderItem.title h4 b {
          display: block;
          font-weight: bold; }
  .brandRoot .teamSlider .teamImg {
    max-height: 200px;
    width: 100%; }
  .brandRoot .teamSlider .teamText {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    color: #fff;
    font-size: 1.5rem; }
